REGULATORY OPS CHANGED TO 'Regulatory' - UPDATE IT in NEXT SITERISK RUN

# Libraries

In [297]:
import pandas as pd # type: ignore
import numpy as np # type: ignore
import datetime
import glob
import os

# Connections

In [298]:
from carvana_sql import SQLServer # type: ignore
db_conn = SQLServer.connect('PEOPLEOPSPROD,1439')

In [299]:
cnx_str = "Driver={ODBC Driver 17 for SQL Server};Server=PEOPLEOPSPROD,1439;Database=PEOPLEOPS;Trusted_Connection=yes;"
cnx_str_app = "Driver={ODBC Driver 17 for SQL Server};Server=dwhcar-l;Database=OpsGroup;Trusted_Connection=yes;"

import pyodbc
odbcconn = pyodbc.connect(cnx_str)
odbcconnops = pyodbc.connect(cnx_str_app)
odbcquery = 'Select Top 10 * from PeopleOps.tenstreet.FactDriver'
odbcdf = pd.read_sql_query(odbcquery, odbcconn)

C:\Users\E102068\AppData\Local\Temp\ipykernel_15872\2098714686.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  odbcdf = pd.read_sql_query(odbcquery, odbcconn)

In [300]:
# Todays Date - Used in multiple SQL queries
# Change the value of today if you'd like to run the code at a different time

# date_today=pd.to_datetime('2024-03-01')

date_today=pd.to_datetime(datetime.date.today())

In [301]:
# date_today=pd.to_datetime('2024-04-12')

In [302]:
from carvana_sql import Snowflake

SnowflakeWarehouse = 'PEOPLEOPS_ANALYTICS'
SnowflakeRole = 'PEOPLEOPS_ANALYTICS'
SnowflakeEmail = 'anish.middela@carvana.com'
SnowflakeDatabase = "PEOPLEOPS_SANDBOX"
Snowflakeschema="SITERISK"

db_snowflake = Snowflake.connect(
                username=SnowflakeEmail,                
                role=SnowflakeRole,
                warehouse=SnowflakeWarehouse)

db_snowflake_write = Snowflake.connect(
                username=SnowflakeEmail,                
                role=SnowflakeRole,
                warehouse=SnowflakeWarehouse,
                database=SnowflakeDatabase,
                schema= Snowflakeschema )

# Glint

### Location Files

In [303]:
# Local CSV Pull

# # Files to pull location demographic csv
# location_path="Glint Reports"

# # Level 1 csv files
# location_files= glob.glob(os.path.join(location_path, "*\*.csv"))

# # Loop over lvl 2 subdirectory csv files
# #location_files= glob.glob(os.path.join(location_path, "**\*.csv"), recursive= True)

In [304]:
# Netwrok csv pull
network_location_path="X:\People_Operations\Secured\Talent Analytics\Anish Middela\SiteRisk"

# Level 1 csv files
network_location_files= glob.glob(os.path.join(network_location_path, "**\*.csv"),recursive=True)

In [305]:
network_location_files

["X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\ADESA\\glint_Q1'24_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\Overall\\glint_report_Q1'24_AllCostCentre.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\Overall\\glint_report_Q1'24_AllLocations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\Overall\\glint_report_Q1'24_Managers.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\ADESA\\glint_Q1'25_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\ADESA\\glint_Q2'24_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\ADESA\\glint_Q2'25_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\ADESA\\glint_Q3'24_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\ADESA\\glint_Q4'24_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Injuries\\injuries_report_Q1'24.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Injuries\\injuries_report_Q1'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Injuries\\injuries_report_Q2'24.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Injuries\\injuries_report_Q3'24.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Injuries\\injuries_report_Q4'24.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q1'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q2'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q3'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Peakon\\Peakon_Q3'25.csv"]

In [306]:
glint_files = []
injury_files = []
navex_files = []
overall_files=[]
peakon_files=[]


for path in network_location_files:
    if "Overall" in path:
        overall_files.append(path)
    elif "Navex" in path:
        navex_files.append(path)
    elif "Peakon" in path:
        peakon_files.append(path)
    elif "Glint" in path:
        glint_files.append(path)
    elif "Injuries" in path:
        injury_files.append(path)

In [307]:
# files=os.listdir("C:/Users/E102068/Desktop/SiteRisk Dashboard/Glint Reports/Q1_24")

# # Files with overall data
# main_path="Glint Reports\Q1_24\Overall"

# main_files= glob.glob(main_path+"\*.csv")

In [308]:
navex_files

["X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q1'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q2'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q3'25.csv"]

In [309]:
glint_files

["X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\ADESA\\glint_Q1'24_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\ADESA\\glint_Q1'25_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\ADESA\\glint_Q2'24_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\ADESA\\glint_Q2'25_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\ADESA\\glint_Q3'24_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\ADESA\\glint_Q4'24_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Wholesale Operations.csv"]

In [310]:
location_df = pd.DataFrame()
# Appending all the csv files into one df
for file in glint_files:
    df_temp=pd.read_csv(file)
    df_temp['JobFamilyGroup']= file.split('_')[-1].split('.')[0]
    df_temp['Quarter']=file.split('_')[-2]

    location_df=pd.concat([location_df,df_temp],ignore_index=True)

    #df_temp['Quarter']=file.split('\\')[1] #Used this for Local Located files rather than network
        # filename=file.split('_')[-1].split('.')[0]

In [311]:
# Select only neccesary columns
location_df=location_df.iloc[:,[0,5,6,15,16]]

# Rename
location_df= location_df.rename(columns={location_df.columns[1]:'Score',location_df.columns[2]:'eSat Change'})

# Filter out Location ==ALL
location_df = location_df[~(location_df['Location'] == 'All')]

In [312]:
# Convert 'Score' column to numeric, errors='coerce' will replace non-numeric values with NaN
location_df['Score'] = pd.to_numeric(location_df['Score'], errors='coerce')
location_df['eSat Change'] = pd.to_numeric(location_df['eSat Change'], errors='coerce')

# Fill na ==0
location_df=location_df.fillna(0)

In [313]:
peakon_files

["X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Peakon\\Peakon_Q3'25.csv"]

In [314]:
# Peakon Data Pull
peakon_df = pd.DataFrame()
# Appending all the csv files into one df
for file in peakon_files:
    df = pd.read_csv(file)
    df['Quarter'] = file.split('_')[-1].split('.')[0]
    peakon_df = pd.concat([peakon_df, df], ignore_index=True)

Peakon Data Cleaning

In [315]:
peakon_df.columns

Index(['Location', 'JobFamilyGroup', 'Segment', 'Participants',
       'Participation_Percentage', 'Score', 'Quarter'],
      dtype='object')

In [316]:
peakon_df['JobFamilyGroup'] = np.where(peakon_df['JobFamilyGroup'].str.contains('ADESA'), 'ADESA',peakon_df['JobFamilyGroup'])

In [317]:
peakon_df['Employee_Size_Peakon'] = peakon_df['Participants']/peakon_df['Participation_Percentage']
peakon_df['Employee_Size_Peakon'] = peakon_df['Employee_Size_Peakon'].round(0).astype(int)

In [318]:
peakon_df = peakon_df[['Location','JobFamilyGroup','Participants','Employee_Size_Peakon','Score','Quarter']]

In [319]:
# Create empty columns in location_df for merging later
location_df['Participants']=None
location_df['Employee_Size_Peakon']=None

In [320]:
location_df=location_df[['Location','JobFamilyGroup','Participants','Employee_Size_Peakon','Score','Quarter']]

In [321]:
location_df = pd.concat([location_df, peakon_df], ignore_index=True)

In [322]:
location_df['Quarter'].value_counts()

Quarter
Q3'25    424
Q2'24    417
Q3'24    415
Q1'25    405
Q2'25    405
Q1'24    400
Q4'24    398
Name: count, dtype: int64

### Necessary JobFamilyGroups

In [323]:
necessary_JobFamilyGroups= location_df['JobFamilyGroup'].unique().tolist()

# Injuries

In [324]:
# Old Logic
# injury_path=("Injuries")

# injury_files= glob.glob(os.path.join(injury_path, "*.csv"))

# injuries_df= glob.glob(injury_path+'\*.csv')
# injuries_df=pd.read_csv("C:/Users/E102068/Desktop/SiteRisk Dashboard/Injuries/injuries_report_Q1'24.csv")

In [325]:
injury_files

["X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Injuries\\injuries_report_Q1'24.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Injuries\\injuries_report_Q1'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Injuries\\injuries_report_Q2'24.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Injuries\\injuries_report_Q3'24.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Injuries\\injuries_report_Q4'24.csv"]

In [326]:
injury_df_main= pd.DataFrame()

# Appending all the csv files into one DataFrame
for file in injury_files:
    df_temp_injury = pd.read_csv(file)


    # Strip leading and trailing spaces from column names
    df_temp_injury.columns = df_temp_injury.columns.str.strip()


    # Add Quarter information
    df_temp_injury['Quarter'] = file.split('_')[-1].split('.')[0]


    # Concatenate to main DataFrame
    injury_df_main = pd.concat([injury_df_main, df_temp_injury], ignore_index=True)

In [327]:
snowflake_pull_df = db_snowflake.execute(
    """
SELECT CLAIM_NUMBER as CASE_NUMBER,
       OCCURRENCE_NUMBER,
       STATUS,
       OCCURRED_DAY,
       C_FIRSTDAYOFMONTHDATE,
       LOCATION_NAME as WORK_LOCATION,
       EMPLOYEE_ID_C as EMPLOYEE_ID,
       TITLE as JOB_PROFILE,
       DEPARTMENT,
       JOB_FAMILY_GROUP,
       JOB_FAMILY,
       BODY_PART as BODYPART2,
       DATE_TRUNC('QUARTER', OCCURRED_DAY) AS DATE_QUARTER,
       CASE
        WHEN DATE_QUARTER = '2025-04-01' THEN 'Q2''25'
        WHEN DATE_QUARTER = '2025-07-01' THEN 'Q3''25'
        END as Quarter
FROM CARLEGAL.WC_INJURY.WC_CLAIMS_INPUT
WHERE OCCURRED_DAY >= '2025-04-01' 
AND OCCURRED_DAY<'2025-10-01'

""")

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://carvana.okta.com/app/snowflake/exkhr8majsTrZPBMF1t7/sso/saml?SAMLRequest=jVJdc9owEPwrHvXZlm1CCRpMxjGlIR8NDaYz5U3YMijIkqOTsfn3lfnopA%2FJ9E1z2r3du73RTVsKZ880cCUjFHg%2BcpjMVM7lJkLLdOpeIwcMlTkVSrIIHRigm%2FEIaCkqEtdmK1%2FYW83AOLaRBNJ9RKjWkigKHIikJQNiMrKInx5J6PmEAjBtrBw6U3LgVmtrTEUwbprGa3qe0hsc%2Br6P%2FSG2qA7yBb2TqD7XqLQyKlPiQmntTB9IBNi%2F6iQswirMz8RbLk8r%2BExlfQIBuUvTuTt%2FXqTIiS%2FTJUpCXTK9YHrPM7Z8eTwZAOvgIY6vhr2w54FUTSHojmWqrGpjm3n2hQuWY6E23K5oNolQteN5KRbt5qce3BfLdXl4bZNv8f0qqxP6u9gu2PDuOVXN%2Fvv67SHJMuT8ugQadoHOAGo2k12Mxpb8sO8Goev309AnQZ8EX71gOFghZ2Jj5JKaI%2FPiNaN6TyX11M7QozlaVfivb8za3VZfl%2FQVUr2a3z5NAzPAAAp3KaHToZCjAT3%2Bz%2FFH%2BD3pfGo%2F7PZnk7kSPDs4U6VLaj4OJ%2FCCY4XnbnGEElZSLuI81wzAhiSEahLNqLEXbXTNEB6fVP%2B96fEf&RelayState=ver%3A1-hint%3A12085845463584774-ETMsDgAAAZrwJ5DlABRBRVMvQ0JDL1BLQ1M1UGFkZGluZwEAABAAEPqzcD2NMfnMo1suOJXGbYMAAACQe%2BmL35aZxs%2FANAS4QiH0mr2KBeHpGI6YTNWivceuqGfCRkiGRYFJrX7z%2F%2FiX3HgWsDMVKu9YtHbQlGDBUPK4Jjn9pUR2mbFiW7NHeB%2FpBv9MKDvN1MKOhLijKD3Ohd0tQWNGezP6dXo%2FEOFI0ITNizgIZmynXe%2BTb2EXzJrg07bQeNXoHG0j1oNTkI8CzMyrABSv04xnea1FX6273RzE%2BcY%2Bc97YLA%3D%3D to authenticate...

In [328]:
snowflake_pull_df= snowflake_pull_df.rename(columns={
    'QUARTER': 'Quarter',
    'JOB_FAMILY_GROUP': 'JobFamilyGroup',
    'JOB_PROFILE': 'JobProfile', 
    'JOB_FAMILY': 'JobFamily'})

In [329]:
injury_df_main = pd.concat([injury_df_main, snowflake_pull_df], ignore_index=True)

In [330]:
injury_df_main.groupby('Quarter').size()

Quarter
Q1'24    346
Q1'25    534
Q2'24    398
Q2'25    497
Q3'24    447
Q3'25    553
Q4'24    419
dtype: int64

In [331]:
injury_df_main['JobFamilyGroup'].unique()

array([nan, 'RECONDITIONING', 'MARKET_OPERATIONS', 'JOB_FAMILY-3-381',
       'POST_PRODUCTION', 'LOGISTICS', 'ACCOUNTING', 'JOB_FAMILY-3-379',
       'JOB_FAMILY-3-380', 'JOB_FAMILY-3-382', 'JOB_FAMILY-3-383',
       'Operations', 'SAFE_AND_SECURE', 'JOB_FAMILY-3-375', 'INVENTORY',
       'REGULATORY_OPERATIONS', 'Reconditioning', 'Market Operations',
       'Post Production', 'Logistics', 'Reconditioning Services (adesa)',
       'Safe And Secure', 'Operations (adesa)', 'Regulatory Operations',
       'Legal', 'Wholesale Operations', 'Sell To Carvana',
       'Safe And Secure (adesa)', 'Technology Services', 'Verification',
       'Sales (adesa)', 'Customer Service Group (adesa)',
       'Customer Experience', 'Engineering', 'Treasury Operations',
       'People Operations', 'Dealership', 'JOB_FAMILY-3-470',
       'JOB_FAMILY-3-494', 'CUSTOMER_EXPERIENCE', 'WHOLESALE_OPERATIONS',
       'JOB_FAMILY-3-451', 'JOB_FAMILY-3-471', 'JOB_FAMILY-3-500',
       'STC_CUSTOMER_CARE', 'TECHNOLOGY_SERVICES', 'VERIFICATION',
       'Infrastructure_Development', 'Auction', 'Transportation',
       'Photobooth', 'Body Shop', 'Inventory', 'Mechanical',
       'Maintenance', 'Detail', 'Office Operations', 'Registration', None,
       'Marketplace', 'Central Operations (adesa)', 'Finance (adesa)'],
      dtype=object)

In [332]:
# Transform the 'JobFamilyGroup' column
injury_df_main['JobFamilyGroup'] = injury_df_main['JobFamilyGroup'].apply(
    lambda x: x.upper().replace(' ', '_') if isinstance(x, str) else x
)

In [333]:
# Pull JobProfile Detail from workday - TABLE EMPLOYEE HISTORY
JobFamily_df = db_snowflake.execute("""
                             
SELECT Distinct JOB_PROFILE,JOB_FAMILY_GROUP 
FROM PEOPLEOPS_SANDBOX.DEV.WORKDAY_EMPLOYEE_LINEAGE
WHERE COMPANY NOT like '%ADESA%'
AND JOB_FAMILY_GROUP NOT like '%ADESA%';

""")

In [334]:
JobFamily_df=JobFamily_df.rename(columns={'JOB_PROFILE':'JobProfile','JOB_FAMILY_GROUP':'JobFamilyGroup'})

In [335]:
# Merging with Workday Jobfamily to get more accurate information
injury_df_main= pd.merge(injury_df_main,JobFamily_df, how='left', on='JobProfile')

# injury_df_check= pd.merge(injury_df,JobFamily_df, how='left', left_on='JobProfile',right_on='JobProfileName')

In [336]:
distinct_empl= db_snowflake.execute("""

WITH RankedEmployees AS (
    SELECT 
        DATE_DAY, 
        EMPLOYEE_ID, 
        LOCATION,
        ROW_NUMBER() OVER (PARTITION BY EMPLOYEE_ID ORDER BY DATE_DAY DESC) as rn
    FROM 
        PEOPLEOPS_SANDBOX.DEV.WORKDAY_EMPLOYEE_LINEAGE
    WHERE 
        LOCATION IS NOT NULL
)

SELECT  
    EMPLOYEE_ID, 
    LOCATION                   
FROM 
    RankedEmployees
WHERE 
    rn = 1
ORDER BY 
    EMPLOYEE_ID;

""")

In [337]:
distinct_empl['EMPLOYEE_ID']=distinct_empl['EMPLOYEE_ID'].astype(int)
injury_df_main['EMPLOYEE_ID'] = injury_df_main['EMPLOYEE_ID'].fillna(0).astype(int)

In [338]:
injury_df_main=pd.merge(injury_df_main,distinct_empl,on='EMPLOYEE_ID',how='left')

In [339]:
injury_df_main['WORK_LOCATION']= np.where(injury_df_main['LOCATION'].isna(),injury_df_main['WORK_LOCATION'],injury_df_main['LOCATION'])

In [340]:
print(necessary_JobFamilyGroups)
print(injury_df_main['JobFamilyGroup_x'].unique())

['ADESA', 'Logistics', 'Market Operations', 'Post Production', 'Reconditioning', 'Regulatory Operations', 'Wholesale Operations', 'Safe and Secure', 'Dealership', 'Engineering', 'Brand', 'Product Management', 'Marketplace', 'Technology Services', 'Titles', 'Customer Experience', 'Verification', 'Sell to Carvana', 'People Operations', 'Analytics', 'Legal', 'Accounting', 'Inventory', 'Treasury Operations', 'Finance', 'Infrastructure Development', 'Special Projects', 'Ancillary Products', 'Quantitative Marketing']
[nan 'RECONDITIONING' 'MARKET_OPERATIONS' 'JOB_FAMILY-3-381'
 'POST_PRODUCTION' 'LOGISTICS' 'ACCOUNTING' 'JOB_FAMILY-3-379'
 'JOB_FAMILY-3-380' 'JOB_FAMILY-3-382' 'JOB_FAMILY-3-383' 'OPERATIONS'
 'SAFE_AND_SECURE' 'JOB_FAMILY-3-375' 'INVENTORY' 'REGULATORY_OPERATIONS'
 'RECONDITIONING_SERVICES_(ADESA)' 'OPERATIONS_(ADESA)' 'LEGAL'
 'WHOLESALE_OPERATIONS' 'SELL_TO_CARVANA' 'SAFE_AND_SECURE_(ADESA)'
 'TECHNOLOGY_SERVICES' 'VERIFICATION' 'SALES_(ADESA)'
 'CUSTOMER_SERVICE_GROUP_(ADESA)' 'CUSTOMER_EXPERIENCE' 'ENGINEERING'
 'TREASURY_OPERATIONS' 'PEOPLE_OPERATIONS' 'DEALERSHIP' 'JOB_FAMILY-3-470'
 'JOB_FAMILY-3-494' 'JOB_FAMILY-3-451' 'JOB_FAMILY-3-471'
 'JOB_FAMILY-3-500' 'STC_CUSTOMER_CARE' 'INFRASTRUCTURE_DEVELOPMENT'
 'AUCTION' 'TRANSPORTATION' 'PHOTOBOOTH' 'BODY_SHOP' 'MECHANICAL'
 'MAINTENANCE' 'DETAIL' 'OFFICE_OPERATIONS' 'REGISTRATION' None
 'MARKETPLACE' 'CENTRAL_OPERATIONS_(ADESA)' 'FINANCE_(ADESA)']

In [341]:
# Renaming the column
injury_df_main=injury_df_main.rename(columns={'JobFamilyGroup_y':'JobFamilyGroup'})

In [342]:

# Wherever their are NA then pointing it to Company
injury_df_main['JobFamilyGroup'] = np.where(injury_df_main['JobFamilyGroup'].isna(),injury_df_main['JobFamilyGroup_x'],injury_df_main['JobFamilyGroup'])

In [343]:
injury_df_main['JobFamilyGroup'].unique()

array([nan, 'Reconditioning', 'Market Operations', 'JOB_FAMILY-3-381',
       'Post Production', 'Logistics', 'ACCOUNTING', 'JOB_FAMILY-3-379',
       'JOB_FAMILY-3-380', 'JOB_FAMILY-3-382', 'JOB_FAMILY-3-383',
       'OPERATIONS', 'SAFE_AND_SECURE', 'JOB_FAMILY-3-375',
       'Regulatory Operations', 'Titles', 'Inventory', 'Safe and Secure',
       'RECONDITIONING', 'MARKET_OPERATIONS', 'POST_PRODUCTION',
       'RECONDITIONING_SERVICES_(ADESA)', 'LOGISTICS',
       'OPERATIONS_(ADESA)', 'REGULATORY_OPERATIONS', 'Legal',
       'Wholesale Operations', 'SELL_TO_CARVANA', 'WHOLESALE_OPERATIONS',
       'SAFE_AND_SECURE_(ADESA)', 'TECHNOLOGY_SERVICES', 'Verification',
       'SALES_(ADESA)', 'CUSTOMER_SERVICE_GROUP_(ADESA)', 'VERIFICATION',
       'CUSTOMER_EXPERIENCE', 'ENGINEERING', 'TREASURY_OPERATIONS',
       'People Operations', 'Dealership', 'Registration',
       'JOB_FAMILY-3-470', 'JOB_FAMILY-3-494', 'Customer Experience',
       'JOB_FAMILY-3-451', 'JOB_FAMILY-3-471', 'JOB_FAMILY-3-500',
       'Sell to Carvana', 'Technology Services',
       'Infrastructure Development', 'AUCTION', 'TRANSPORTATION',
       'BODY_SHOP', 'INVENTORY', 'MECHANICAL', 'MAINTENANCE', 'DETAIL',
       'OFFICE_OPERATIONS', 'Treasury Operations', None, 'Marketplace',
       'CENTRAL_OPERATIONS_(ADESA)', 'FINANCE_(ADESA)'], dtype=object)

In [344]:
print(necessary_JobFamilyGroups)

['ADESA', 'Logistics', 'Market Operations', 'Post Production', 'Reconditioning', 'Regulatory Operations', 'Wholesale Operations', 'Safe and Secure', 'Dealership', 'Engineering', 'Brand', 'Product Management', 'Marketplace', 'Technology Services', 'Titles', 'Customer Experience', 'Verification', 'Sell to Carvana', 'People Operations', 'Analytics', 'Legal', 'Accounting', 'Inventory', 'Treasury Operations', 'Finance', 'Infrastructure Development', 'Special Projects', 'Ancillary Products', 'Quantitative Marketing']

In [345]:
# Define the conditions for JobRole
conditions = [
    injury_df_main['JobFamilyGroup'].str.contains('ADESA|adesa', regex=True, na=False),
    injury_df_main['JobFamilyGroup'].str.contains('RECONDITIONING|Inventory', regex=True, na=False),
    injury_df_main['JobFamilyGroup'].str.contains('WHOLESALE_OPERATIONS', regex=True, na=False),
    injury_df_main['JobFamilyGroup'].str.contains('POST_PRODUCTION', regex=True, na=False),
    injury_df_main['JobFamilyGroup'].str.contains('REGULATORY_OPERATIONS', regex=True, na=False),
    injury_df_main['JobFamilyGroup'].str.contains('LOGISTICS|TRANSPORTATION', regex=True, na=False),
    injury_df_main['JobFamilyGroup'].str.contains('MARKET_OPERATIONS', regex=True, na=False),
]


# Define the corresponding JobRole values
values = ['ADESA','Reconditioning','Wholesale Operations','Post Production','Regulatory Operations','Logistics','Market Operations']


# Use np.select to create the JobRole column based on the conditions and values
injury_df_main['JobFamilyGroup'] = np.select(conditions, values, injury_df_main['JobFamilyGroup'])

In [346]:

injury_df_main['JobFamilyGroup'] = np.where(injury_df_main['JobFamilyGroup'].isna(),injury_df_main['COMPANY'],injury_df_main['JobFamilyGroup'])


# Renaming Col
injury_df_snowflake= injury_df_main.rename(columns={'WORK_LOCATION':'Location','BODYPART2':'Injuries'})

### Snowflake - Injury

In [347]:
injury_df_snowflake = injury_df_snowflake[['Injuries','Location','JobFamilyGroup','JobProfile','Quarter','COMPANY','STATUS','CASE_NUMBER']]

In [348]:
injury_df_snowflake.head()

,Injuries,Location,JobFamilyGroup,JobProfile,Quarter,COMPANY,STATUS,CASE_NUMBER
0,Back,ADESA Riverside,ADESA,NaN,Q1'24,ADESA,submitted,ADESA-7740
1,Back,Salt Lake,ADESA,NaN,Q1'24,ADESA,completed,ADESA-7708
2,"['Shoulder(s)', 'Ankle']",Los Angeles,ADESA,NaN,Q1'24,ADESA,completed,ADESA-7668
3,Knee,ADESA Cincinnati,ADESA,NaN,Q1'24,ADESA,completed,ADESA-7719
4,Finger(s),"Belton, MO",ADESA,NaN,Q1'24,ADESA,completed,ADESA-7530

In [349]:
injury_df_snowflake.groupby('Quarter').size()

Quarter
Q1'24    348
Q1'25    535
Q2'24    399
Q2'25    502
Q3'24    447
Q3'25    555
Q4'24    420
dtype: int64

In [350]:
# # Uncomment when you want to run the script again
# Write into Snowflake
db_snowflake_write.insert('injuries',injury_df_snowflake,truncate=True)

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://carvana.okta.com/app/snowflake/exkhr8majsTrZPBMF1t7/sso/saml?SAMLRequest=jVLLcuIwEPwVl%2FaM5QcQogJSTiiyTiDxYpPK5iZsAVrbkqORMfx9ZB5b2UNSe1ONuqd7pmd4sy8La8cUcClGyLUdZDGRyoyLzQgtk2lngCzQVGS0kIKN0IEBuhkPgZZFRYJab8WCvdcMtGUaCSDtxwjVShBJgQMRtGRAdEriYD4jnu0QCsCUNnLoTMmAG62t1hXBuGkau%2FFtqTbYcxwHO9fYoFrID%2FRJovpeo1JSy1QWF8rezPSFhIudbithEEYhOhNvuTit4DuV1QkE5GeSRJ3oOU6QFVymu5MC6pKpmKkdT9lyMTsZAOPgMQi6177n2yBksy5ozlJZVrU2zWzzwmuW4UJuuFlROBmhKufZU3iI7w979z5ezR8Gu%2FTh%2BXeulq%2Bz9xQO%2FVVv3%2B%2F%2F8h%2B7i%2BjlNUiR9XIJ1GsDDQFqFoo2Rm1KjtfruF7H6SWeQ9we8fv24Mp7Q9bExMgF1UfmxWtK1Y4Kastc06M5WlX4r2%2FM9vlWDUr6BxL1Ft3Op66%2BwgAStymh06GQowE1%2Fs%2Fxh%2Fgz6XxqT2b74SSSBU8P1lSqkuqvw3Ft91jhWWd9hBJWUl4EWaYYgAmpKGRzpxjV5qK1qhnC45Pqvzc9%2FgA%3D&RelayState=ver%3A1-hint%3A12085845463584774-ETMsDgAAAZrwJ%2BGnABRBRVMvQ0JDL1BLQ1M1UGFkZGluZwEAABAAELSx%2BdoArCziI16qaQ5YD3cAAACQ81wIXYhxOgbBpulxDuEXGW960YGYoE3ejM1kEqqILMqaMblKCg0jb7isJqtPX6alItGF5ZE22dH7CjBDSQJD%2Be7ZPL4OS158Av078mUfQCaXRzAZJtgS78reSk77tXXzE%2BgrS%2BZuoe8vqBQUyhx%2BjbNYut1TLTjxj4w7w%2By77etWKe3wUtKtJZm0GrdOC9R%2BABTDsCpChvbKyV18CrYNkB7rivPnxA%3D%3D to authenticate...

Uploading data chunk num: 1: 100%|| 3206/3206 [00:00<00:00, 3772.62it/s]

True

In [351]:
# # Drop the existing table

# db_snowflake_write.drop_table('Injuries')

In [352]:
# # Table Creation

# db_snowflake_write.create_table('Injuries',
#                   {
#                      'Injuries': ['VARCHAR(100)'], 
#                      'Location': ['VARCHAR(100)'], 
#                      'JobFamilyGroup': ['VARCHAR(100)'], 
#                      'JobProfile': ['VARCHAR(100)'],
#                      'Quarter': ['VARCHAR(1000)'],
#                      'Company': ['VARCHAR(100)'], 
#                      'STATUS': ['VARCHAR(100)'],
#                      'CASE_NUMBER': ['VARCHAR(100)']
#                   })

### Injury df

In [353]:
# Filtering Only for necessary_JobFamilyGroups
injury_df= injury_df_snowflake[injury_df_snowflake['JobFamilyGroup'].isin(necessary_JobFamilyGroups)]

In [354]:
# Counting the number of injuries at the Location-Org Combination
injury_df = injury_df.groupby(['Location','JobFamilyGroup','Quarter']).agg('count').reset_index()

# Final Injury df
injury_df = injury_df[['Location', 'JobFamilyGroup','Quarter','Injuries']]

## Main Dataframe

In [355]:
# Merging for Specific CostCentre
main_df= pd.merge(location_df,injury_df, how='outer', on=['Location','JobFamilyGroup','Quarter'])

# Performance PIPs/CARs

In [356]:
# Performance for Last Quater
performance_sql_df = pd.read_sql_query(f"""

WITH cte AS (
Select * FROM PeopleOps.workday.FactEmployeeReviews
WHERE 
--DateInitiated >= DATEADD(QUARTER, DATEDIFF(QUARTER, 0, '') - 1, 0)
--AND DateInitiated < DATEADD(QUARTER, DATEDIFF(QUARTER, 0, ''), 0) 
--AND Status in ('In Progress','Successfully Completed','Rescinded') 
ReviewCategory in ('Corrective Action','Performance Improvement Plan')
AND DateInitiated>='2024-01-01'
AND DateInitiated < DATEADD(QUARTER, DATEDIFF(QUARTER, 0, GETDATE()), 0))

SELECT c.EmployeeId,c.ReviewCategory,c.ReviewReason,c.ResultingActionRating,c.DateInitiated,c.Status,
eh.StartDateTime,eh.EndDateTime,eh.JobFamilyGroup,eh.Company,eh.Location,
CONCAT('Q', DATEPART(quarter,c.DateInitiated ), '''', RIGHT(DATEPART(year, c.DateInitiated), 2)) as Quarter   
FROM cte c left join PeopleOps.workday.tblEmployeeHistory eh ON c.EmployeeId=eh.EmployeeId
WHERE c.DateInitiated between eh.StartDateTime and eh.EndDateTime
ORDER BY c.DateInitiated

""",odbcconn)

C:\Users\E102068\AppData\Local\Temp\ipykernel_15872\4015103443.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  performance_sql_df = pd.read_sql_query(f"""

In [ ]:
## Launch in 2025

performance_snowflake_base_df = db_snowflake.execute("""
with cte as (
SELECT *
FROM PEOPLEOPS.WORKDAY.EMPLOYEE_REVIEWS
WHERE REVIEW_CATEGORY IN ('Corrective Action' ,'Performance Improvement Plan')
AND DATE_INITIATED::DATE>='2024-01-01'
AND DATE_INITIATED::DATE <= LAST_DAY(DATEADD(quarter, -1, DATE_TRUNC(quarter, CURRENT_DATE)),'quarter')
)

SELECT c.EMPLOYEE_ID
,c.REVIEW_CATEGORY
,c.REVIEW_REASON
,c.RESULTING_ACTION_RATING
,c.DATE_INITIATED
,c.STATUS
,eh.START_TIME
,eh.END_TIME
,eh.JOB_FAMILY_GROUP
,eh.COMPANY
,eh.LOCATION_NAME AS LOCATION
,CONCAT('Q',DATE_PART('QUARTER',c.DATE_INITIATED),'''',RIGHT(DATE_PART('YEAR',C.DATE_INITIATED),2)) AS QUARTER
FROM CTE c
LEFT JOIN PEOPLEOPS.WORKDAY.VW_DIM_EMPLOYEE_HISTORY eh 
ON c.EMPLOYEE_ID = eh.EMPLOYEE_ID
WHERE c.DATE_INITIATED BETWEEN eh.START_TIME AND eh.END_TIME
ORDER BY C.DATE_INITIATED;
""")

In [358]:
date_today

Timestamp('2025-12-05 00:00:00')

### In progress performance

In [359]:
# Inprogress List with ToDO step COmpleted 

performance_inprogress_sql_df= pd.read_sql_query(f"""

SELECT EmployeeId, Manager, ReviewTemplate, ProcessStatus as Status, ProcessInitiationDate as DateInitiated,
Step,StepStatus,StepCompletedOn,StepCompletedBy 
FROM PeopleOps.workday.FactEmployeeReviewProcess
WHERE 
--ProcessInitiationDate >= DATEADD(QUARTER, DATEDIFF(QUARTER, 0, '{date_today}') - 1, 0)
ProcessInitiationDate < DATEADD(QUARTER, DATEDIFF(QUARTER, 0, '{date_today}'), 0)
AND ProcessInitiationDate>='2024-01-01'
AND Step like '%To Do%' 
AND StepStatus = 'Step Completed'
AND ProcessStatus ='In Progress'
ORDER BY EmployeeId

""",odbcconn)

C:\Users\E102068\AppData\Local\Temp\ipykernel_15872\3250169802.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  performance_inprogress_sql_df= pd.read_sql_query(f"""

In [ ]:
performance_inprogress_snowflake_base_df = db_snowflake.execute(f"""
SELECT *
FROM PEOPLEOPS.WORKDAY.VW_EMPLOYEE_REVIEW_PROCESS
WHERE PROCESS_INITIATION_DATE  >='2024-01-01'
AND PROCESS_INITIATION_DATE <= LAST_DAY(DATEADD(quarter, -1, DATE_TRUNC(quarter, CURRENT_DATE)),'quarter')
AND STEP LIKE '%To Do%'
AND STEP_STATUS ='Step Completed'
AND PROCESS_STATUS = 'In Progress'
ORDER BY PROCESS_INITIATION_DATE desc;
""")

In [78]:
performance_sql_df.value_counts('Status')

Status
Successfully Completed    37445
Canceled                   5094
In Progress                3529
Rescinded                    80
Name: count, dtype: int64

In [ ]:
# Creating Keys to check if the value exist in inprogess df (can be done using merge)

performance_sql_df['key']=performance_sql_df['EmployeeId'].astype(str)+performance_sql_df['Status'].astype(str)\
    +performance_sql_df['DateInitiated'].astype(str)
performance_inprogress_sql_df['key']=performance_inprogress_sql_df['EmployeeId'].astype(str)+performance_inprogress_sql_df['Status'].astype(str)\
    +performance_inprogress_sql_df['DateInitiated'].astype(str)

# Finding rows that exist in inprogress and updating their status
performance_sql_df.loc[performance_sql_df['key'].isin(performance_inprogress_sql_df['key']), 'Status'] = 'Successfully Completed'

In [80]:
# drop the key column
performance_sql_df = performance_sql_df.drop(columns=['key'])
performance_inprogress_sql_df = performance_inprogress_sql_df.drop(columns=['key'])

In [81]:
performance_sql_df.value_counts('Status')

Status
Successfully Completed    39179
Canceled                   5094
In Progress                1795
Rescinded                    80
Name: count, dtype: int64

### ADESA PIPs/CARs

In [82]:
# Converting Job Families in company ADESA as ADESA 
performance_sql_df['JobFamilyGroup'] = np.where(performance_sql_df['Company'].str.contains('ADESA'),"ADESA",performance_sql_df['JobFamilyGroup'])

In [83]:
# Neccessary Job Family Group
# Filtering for siterisk costcentres
performance_sql_df=performance_sql_df[performance_sql_df['JobFamilyGroup'].isin(necessary_JobFamilyGroups)]

In [84]:
performance_sql_df.value_counts('Status')

Status
Successfully Completed    37401
Canceled                   4708
In Progress                1761
Rescinded                    74
Name: count, dtype: int64

### Snowflake - Performance

In [85]:
performance_snowflake_df = performance_sql_df.copy()

In [86]:
performance_snowflake_df.head()

,EmployeeId,ReviewCategory,ReviewReason,ResultingActionRating,DateInitiated,Status,StartDateTime,EndDateTime,JobFamilyGroup,Company,Location,Quarter
0,94657,Corrective Action,Attendance (United States of America),Verbal Warning,2024-01-02 03:18:05.688,Successfully Completed,2023-12-24 01:17:00.013333,2024-01-24 01:17:12.089000,Reconditioning,"Carvana, LLC",GA Winder IC,Q1'24
1,97414,Corrective Action,Attendance (United States of America),Termination,2024-01-02 03:23:37.656,Successfully Completed,2023-12-16 02:32:06.746666,2024-01-03 09:16:49.509000,Reconditioning,"Carvana, LLC",NC Concord IC,Q1'24
2,99322,Corrective Action,Attendance (United States of America),Termination,2024-01-02 05:02:06.346,Successfully Completed,2023-12-25 01:16:53.613333,2024-01-12 16:16:59.202333,Logistics,"Carvana Logistics, LLC",NJ Delanco IC,Q1'24
3,32950,Corrective Action,Attendance (United States of America),Written Warning,2024-01-02 05:07:18.574,Successfully Completed,2023-12-11 01:17:03.403333,2024-01-11 01:17:02.609000,Logistics,"Carvana Logistics, LLC",AL Bessemer IC,Q1'24
4,97493,Corrective Action,Attendance (United States of America),Written Warning,2024-01-02 05:19:05.466,Canceled,2023-12-23 02:31:52.053333,2024-01-04 10:30:27.369000,ADESA,ADESA US Auction LLC,FL Orlando - Sanford,Q1'24

In [87]:
performance_snowflake_df.groupby('Quarter').size()

Quarter
Q1'24    4083
Q1'25    6981
Q2'24    4588
Q2'25    7465
Q3'24    5491
Q3'25    9728
Q4'24    5608
dtype: int64

In [88]:
performance_snowflake_df.describe()

,DateInitiated,StartDateTime,EndDateTime
count,43944,43944,43944
mean,2025-01-05 02:48:23.706334720,2024-12-25 02:04:45.908569088,2025-01-13 14:23:04.902321920
min,2024-01-02 03:18:05.688000,2023-12-04 15:16:53.863333,2024-01-02 11:17:57.979000
25%,2024-08-08 07:28:09.929750016,2024-07-28 00:17:08.053332992,2024-08-16 12:31:16.968999936
50%,2025-01-30 13:55:30.258000128,2025-01-20 01:16:17.689999872,2025-02-10 01:16:25.815665920
75%,2025-06-12 13:17:24.823749888,2025-06-02 00:15:57.603333120,2025-06-24 10:16:00.962332928
max,2025-09-30 23:00:59.044000,2025-09-30 11:16:08.836666,2025-10-29 00:17:09.075666

In [89]:
# Uncomment when you need to run it again
# Write into Snowflake
# db_snowflake_write.drop_table('Performance')
# db_snowflake_write.dump('Performance',performance_snowflake_df)
db_snowflake_write.insert('Performance',performance_snowflake_df,truncate=True)

Uploading data chunk num: 1: 100%|| 43944/43944 [00:01<00:00, 36960.59it/s]

True

In [90]:
# # Drop the existing table

# db_snowflake_write.drop_table('Performance')

In [91]:
# # Performance Table Creation

# db_snowflake_write.create_table('Performance',
#                   {
#                      'EmployeeId': ['INT','NOT NULL'],
#                      'ReviewCategory': ['VARCHAR(1000)'], 
#                      'ReviewReason': ['VARCHAR(1000)'], 
#                      'ResultingActionRating': ['VARCHAR(1000)'],
#                      'Status':['VARCHAR(1000)'],
#                      'DateInitiated': ['TIMESTAMP_NTZ(9)'], 
#                      'StartDateTime': ['TIMESTAMP_NTZ(9)'],
#                      'EndDateTime' : ['TIMESTAMP_NTZ(9)'],
#                      'JobFamilyGroup': ['VARCHAR(1000)'],
#                      'Company': ['VARCHAR(1000)'],
#                      'Location': ['VARCHAR(1000)'],
#                      'Quarter': ['VARCHAR(1000)']
#                   })

### Performance Df

In [92]:
performance_df= db_snowflake.execute("""

SELECT * FROM PEOPLEOPS_SANDBOX.SITERISK.PERFORMANCE

""")

In [93]:
# Filtering only for Successfully completed
performance_df=performance_df[performance_df['STATUS']=='Successfully Completed']

In [94]:
performance_df.value_counts('STATUS')

STATUS
Successfully Completed    37401
Name: count, dtype: int64

In [95]:
performance_df['QUARTER'].unique()

array(["Q1'24", "Q2'24", "Q3'24", "Q4'24", "Q1'25", "Q2'25", "Q3'25"],
      dtype=object)

In [96]:
# Selecting neccesary columns
# performance_df= performance_df.iloc[:,[0,1,-4,-2,-1]]
performance_df= performance_df[['EMPLOYEEID','LOCATION','JOBFAMILYGROUP','QUARTER','REVIEWCATEGORY']]

In [97]:
# Count the number of PIPs/Cars and Unique Employees
performance_df= performance_df.groupby(['LOCATION','JOBFAMILYGROUP','QUARTER','REVIEWCATEGORY']).\
                                agg(Total_Count=('EMPLOYEEID','count'),EmployeesPIPs_CARs=('EMPLOYEEID','nunique')).reset_index()

In [98]:
performance_df['Total_Count'].sum()

37401

In [99]:
# Pivot to divide the PIPs/CARs
performance_df= performance_df.pivot(index=['LOCATION','JOBFAMILYGROUP','QUARTER','EmployeesPIPs_CARs'],\
                                     columns=['REVIEWCATEGORY'],values='Total_Count').reset_index()

In [100]:
# Total sum of all
performance_df= performance_df.groupby(['LOCATION','JOBFAMILYGROUP','QUARTER']).agg('sum').reset_index()

## Overall PIPs/CARs

In [101]:
# Filling all NA with 0 for addition
performance_df=performance_df.fillna(0)

# Sum of ALL PIPs/CARs
performance_df['PIPs & CARs']=performance_df['Performance Improvement Plan']\
                                    +performance_df['Corrective Action']

# Rename
performance_df=performance_df.rename(columns={'Performance Improvement Plan':'PIPs',\
                                              'Corrective Action':'CARs'})

In [102]:
performance_df['PIPs & CARs'].sum()

37401.0

In [103]:
#Rename Colmns
performance_df=performance_df.rename(columns={'LOCATION':'Location','JOBFAMILYGROUP':'JobFamilyGroup','QUARTER':'Quarter'})

## Merge-Main Df

In [104]:
main_df=pd.merge(main_df,performance_df,on=['Location','Quarter','JobFamilyGroup'],how='outer')

In [105]:
main_df.head()

,Location,JobFamilyGroup,Score,Quarter,Injuries,EmployeesPIPs_CARs,CARs,PIPs,PIPs & CARs
0,11625 nino way mira loma ca 91752,ADESA,NaN,Q3'24,1.0,NaN,NaN,NaN,NaN
1,ADESA,ADESA,NaN,Q2'24,1.0,NaN,NaN,NaN,NaN
2,ADESA Cincinnati,ADESA,NaN,Q1'24,1.0,NaN,NaN,NaN,NaN
3,ADESA Riverside,ADESA,NaN,Q1'24,1.0,NaN,NaN,NaN,NaN
4,AL Bessemer IC,Logistics,71.0,Q1'24,NaN,24.0,38.0,0.0,38.0

# Turnover/Attrition

In [106]:
# SNOWFLAKE USING WORKER LINEAGE


# SELECT DISTINCT EmployeeId FROM PEOPLEOPS_SANDBOX.DEV.WORKDAY_EMPLOYEE_LINEAGE WHERE DATE='2024-01-01' AND DATA_TYPE='ACTIVE' AND EMPLOYEETYPE='Regular' AND WORKERSTATUS IN ('Active','On Leave');


# Quarter_start_df = db_snowflake.execute("""

# SELECT wl.EMPLOYEEID, wl.date, wl.DATA_TYPE as Status, wl.employeename, wl.jobprofile, wl.costcenter as Organization, sd.location_name as Location,
#     CONCAT('Q', DATE_PART('quarter', wl.Date), '''', RIGHT(DATE_PART('year', wl.Date), 2)) as Quarter
# FROM PEOPLEOPS_SANDBOX.DEV.WORKDAY_EMPLOYEE_LINEAGE wl
# LEFT JOIN SHARED.DW.DIM_EMPLOYEE sd 
#     on wl.employeeid = sd.employee_id_cv
# WHERE wl.Date = DATEADD('quarter', -1, DATE_TRUNC('quarter', CURRENT_TIMESTAMP))
#     AND wl.MATRIXORGANIZATION is not Null
#     AND wl.data_type='ACTIVE'
# ORDER BY wl.Date, wl.EMPLOYEEID;

# """)

In [107]:
# OLD TURNOVER LOGIC

# Turnover_sql_df= db_conn.execute("""

# with active as 
# (
# SELECT 
#     MIN(StartDateTime) as StartDateTime,
#     MAX(EndDateTime) as EndDateTime,
# 	FirstName, 
# 	LastName,
#     EmployeeId
# FROM 
#     PeopleOps.workday.tblEmployeeHistory
# WHERE 
#     (StartDateTime <= DATEADD(QUARTER, DATEDIFF(QUARTER, 0, '{date_today}'), 0) - 1 AND EndDateTime >= DATEADD(QUARTER, DATEDIFF(QUARTER, 0, '{date_today}') - 1, 0))
#     AND ActiveStatus = 1
#     AND SSIS_IsDeleted = 0
#     AND EmployeeType = 'Regular'
# GROUP BY
# 	FirstName, 
# 	LastName,
#     EmployeeId
# )

# , terms as (
# SELECT 
#      distinct EmployeeId,TerminationDate,
# 	 RANK() OVER(PARTITION BY EmployeeId ORDER BY TerminationDate) AS Ranking 
# FROM 
#     PeopleOps.workday.tblEmployeeHistory
# WHERE 
# 	TerminationDate is Not Null AND
#     (TerminationDate <= DATEADD(QUARTER, DATEDIFF(QUARTER, 0, '{date_today}'), 0) - 1 AND TerminationDate >= DATEADD(QUARTER, DATEDIFF(QUARTER, 0, '{date_today}') - 1, 0))

# )

# select a.EmployeeId,StartDateTime,EndDateTime,FirstName,LastName,TerminationDate,Ranking
# from active a left join terms t on a.EmployeeId=t.EmployeeId
# order by a.EmployeeId


# """)
# # If multiple term then we stop at enddatetime
# Turnover_sql_df['EndDateTime']= np.where(Turnover_sql_df['TerminationDate'].isna(),Turnover_sql_df['EndDateTime'],Turnover_sql_df['TerminationDate'])

### Active/Terms

In [108]:
# turnover_sql_active= db_conn.execute(f"""

# SELECT 
#     StartDateTime,
#     EndDateTime,
#     EmployeeId,
#     JobFamilyGroup,
#     Location
# FROM 
#     PeopleOps.workday.tblEmployeeHistory
# WHERE 
#     (StartDateTime <= DATEADD(QUARTER, DATEDIFF(QUARTER, 0, '{date_today}'), 0) - 1 AND EndDateTime >= DATEADD(QUARTER, DATEDIFF(QUARTER, 0, '{date_today}') - 1, 0))
#     AND ActiveStatus = 1
#     AND SSIS_IsDeleted = 0
#     AND EmployeeType = 'Regular'
# Order By 
# 	EmployeeId

# """)

In [109]:
## Update the Quater based on when you are running****
# active_emps= db_snowflake.execute(f"""


# SELECT 
#     DATE_DAY as Date, 
#     EMPLOYEE_ID, 
#     JOB_FAMILY_GROUP, 
#     LOCATION, 
#     'Q3''24' as QUARTER
# FROM 
#     PEOPLEOPS_SANDBOX.DEV.WORKDAY_EMPLOYEE_LINEAGE
# WHERE 
#     DATA_TYPE = 'ACTIVE'
#     AND EMPLOYEE_TYPE='Regular'
#     AND DATE_DAY <= DATEADD(QUARTER, DATEDIFF(QUARTER, '2000-01-01', '{date_today}'), '2000-01-01') - INTERVAL '1 DAY'
#     AND DATE_DAY >= DATEADD(QUARTER, DATEDIFF(QUARTER, '2000-01-01', '{date_today}') - 1, '2000-01-01')
#     --AND JOB_FAMILY_GROUP IN {necessary_JobFamilyGroups}
# ORDER BY 
#     DATE_DAY

# """)

In [110]:
# Filter for neccessary jobfamily groups
# active_emps=active_emps[active_emps['JOB_FAMILY_GROUP'].isin(necessary_JobFamilyGroups)]

In [111]:
# db_snowflake_write.drop_table('ACTIVE_EMPLOYEES')

In [112]:
# db_snowflake_write.insert('ACTIVE_EMPLOYEES',active_emps)

In [113]:
# # Extract only date
# turnover_sql_active['StartDateTime']=turnover_sql_active['StartDateTime'].dt.date
# turnover_sql_active['EndDateTime']=turnover_sql_active['EndDateTime'].dt.date

In [114]:
# # Df to store all the dates active for each employee 
# turnover_expanded_data=[]

# # Iterate over each row
# for index, row in turnover_sql_active.iterrows():
#     # Generate dates for all the dates between startdate and enddate
#     dates_range= pd.date_range(start=row['StartDateTime'],end=row['EndDateTime'])

#     for date in dates_range:
#         turnover_expanded_data.append({
#             'Date': date,
#             'EmployeeId':row['EmployeeId'],
#             'JobFamilyGroup':row['JobFamilyGroup'],
#             'Location':row['Location']
#        })

# # Convert to data frame
# turnover_expanded_df= pd.DataFrame(turnover_expanded_data)

In [115]:
# # Building a date list to capture dynamically all the dates in last quarter
# from dateutil.relativedelta import relativedelta

# # Define the start and end of the previous quarter
# if date_today.month < 4:
#     start = datetime.date(date_today.year - 1, 10, 1)
#     end = datetime.date(date_today.year - 1, 12, 31)
# elif date_today.month < 7:
#     start = datetime.date(date_today.year, 1, 1)
#     end = datetime.date(date_today.year, 3, 31)
# elif date_today.month < 10:
#     start = datetime.date(date_today.year, 4, 1)
#     end = datetime.date(date_today.year, 6, 30)
# else:
#     start = datetime.date(date_today.year, 7, 1)
#     end = datetime.date(date_today.year, 9, 30)


# # Create list of dates within the previous quarter
# last_quarter_date_list = [(start + datetime.timedelta(days=x)).isoformat() for x in range((end-start).days + 1)]

In [116]:
# # to remove dates where we have overlaping dates for each startdatetime and enddatetime
# turnover_active_df = turnover_expanded_df.drop_duplicates()

# # Filter for dates only in last quater
# turnover_active_df = turnover_active_df[turnover_active_df['Date'].isin(last_quarter_date_list)]

In [117]:
# # Terminations

# turnover_sql_terms= db_conn.execute(f"""

# SELECT 
#     distinct EmployeeId,
#     CONCAT(FirstName,' ',LastName) as Name,
#     JobFamilyGroup,
#     Location,
#     TerminationDate
# FROM 
#     PeopleOps.workday.tblEmployeeHistory
# WHERE 
# 	TerminationDate is Not Null 
#     AND SSIS_IsDeleted = 0
#     AND EmployeeType = 'Regular'
#     AND (TerminationDate <= DATEADD(QUARTER, DATEDIFF(QUARTER, 0,'{date_today}'), 0) - 1 
#     AND TerminationDate >= DATEADD(QUARTER, DATEDIFF(QUARTER, 0, '{date_today}') - 1, 0))
# ORDER BY 
#     TerminationDate

# """)

Update the Quater based on when you are running****

In [118]:
## Update the Quater based on when you are running****

turnover_sql_terms= db_snowflake_write.execute(f"""

SELECT 
    DATE_DAY as TerminationDate,
    EMPLOYEE_ID,
    EMPLOYEE_NAME as NAME,
    CASE
    WHEN JOB_FAMILY_GROUP like '%ADESA%' THEN 'ADESA'
    ELSE JOB_FAMILY_GROUP
    END as JOB_FAMILY_GROUP, 
    LOCATION, 
    CASE
        WHEN DATE_QUARTER = '2024-01-01' THEN 'Q1''24'
        WHEN DATE_QUARTER = '2024-04-01' THEN 'Q2''24'
        WHEN DATE_QUARTER = '2024-07-01' THEN 'Q3''24'
        WHEN DATE_QUARTER = '2024-10-01' THEN 'Q4''24'
        WHEN DATE_QUARTER = '2025-01-01' THEN 'Q1''25'
        WHEN DATE_QUARTER = '2025-04-01' THEN 'Q2''25'                                              
        WHEN DATE_QUARTER = '2025-07-01' THEN 'Q3''25'                                              
    END AS Quarter,
FROM 
    PEOPLEOPS_SANDBOX.DEV.WORKDAY_EMPLOYEE_LINEAGE
WHERE 
    DATA_TYPE = 'TERMINATED'
    AND EMPLOYEE_TYPE='Regular'
    AND DATE_DAY>='2024-01-01'
ORDER BY 
    DATE_DAY

""")

In [119]:
# Converting to Date
turnover_sql_terms['TERMINATIONDATE']=pd.to_datetime(turnover_sql_terms['TERMINATIONDATE'])

# Neccesary JobFamilyGroups
turnover_sql_terms=turnover_sql_terms[turnover_sql_terms['JOB_FAMILY_GROUP'].isin(necessary_JobFamilyGroups) & turnover_sql_terms['QUARTER'].notna()]

# # Adding Quarter based on Date column
# turnover_sql_terms['Quarter'] = turnover_sql_terms['TerminationDate'].dt.to_period("Q")
# turnover_sql_terms['Quarter'] = turnover_sql_terms['Quarter'].apply(lambda q: f"{q.strftime('Q%q')}'{str(q.year)[2:]}")

### Snowflake - Terminated Emp

In [120]:
#Create Table
# db_snowflake_write.create_table('TermEmployee',
#                   {
#                      'EmployeeId': ['INT','NOT NULL'],
#                      'Name': ['VARCHAR(1000)'], 
#                      'JobFamilyGroup': ['VARCHAR(1000)'], 
#                      'Location': ['VARCHAR(1000)'],
#                      'TerminationDate': ['TIMESTAMP_NTZ(9)'], 
#                      'Quarter': ['VARCHAR(1000)']
#                   })

In [121]:
# db_snowflake_write.drop_table('TermEmployee')

In [122]:
print(turnover_sql_terms.shape)
turnover_sql_terms.head()

(19827, 6)

,TERMINATIONDATE,EMPLOYEE_ID,NAME,JOB_FAMILY_GROUP,LOCATION,QUARTER
0,2024-01-02,22922,Amariah Lopez-Garcia,Logistics,HQ-5,Q1'24
1,2024-01-02,99325,Massiah Ventura,Market Operations,NV Las Vegas - Gowan IC,Q1'24
2,2024-01-02,10548,Adam Coffey,Post Production,TX Blue Mound IC,Q1'24
3,2024-01-02,97922,Quan Stinnie,Reconditioning,VA Chesterfield IC,Q1'24
5,2024-01-02,95494,Histo Louis,Market Operations,MA Boston - Norfolk,Q1'24

In [123]:
turnover_sql_terms.groupby('QUARTER').size()

QUARTER
Q1'24    1674
Q1'25    3155
Q2'24    2061
Q2'25    3257
Q3'24    2740
Q3'25    4387
Q4'24    2553
dtype: int64

**RUN THIS WRITE CAREFULLY

In [124]:
#Insert Data

db_snowflake_write.insert('TermEmployee',turnover_sql_terms,truncate=True)

Uploading data chunk num: 1: 100%|| 19827/19827 [00:01<00:00, 19663.46it/s]

True

### Location/JobFamilyGroup Calculation

#### Active Emp Calculation

In [125]:
active_df=db_snowflake.execute("""

--SELECT * FROM PEOPLEOPS_SANDBOX.SITERISK.ACTIVE_EMPLOYEES
                                 

SELECT
    DATE_DAY as DATE,
    CASE
    WHEN JOB_FAMILY_GROUP like '%ADESA%' THEN 'ADESA'
    ELSE JOB_FAMILY_GROUP
    END as JOB_FAMILY_GROUP,
    CASE
        WHEN DATE_QUARTER = '2024-01-01' THEN 'Q1''24'
        WHEN DATE_QUARTER = '2024-04-01' THEN 'Q2''24'
        WHEN DATE_QUARTER = '2024-07-01' THEN 'Q3''24'
        WHEN DATE_QUARTER = '2024-10-01' THEN 'Q4''24'
        WHEN DATE_QUARTER = '2025-01-01' THEN 'Q1''25'
        WHEN DATE_QUARTER = '2025-04-01' THEN 'Q2''25'
        WHEN DATE_QUARTER = '2025-07-01' THEN 'Q3''25'
                               
    END AS Quarter,
    LOCATION,
    COUNT(*) as Active_employees
FROM 
    PEOPLEOPS_SANDBOX.DEV.WORKDAY_EMPLOYEE_LINEAGE
WHERE 
    DATA_TYPE in('ACTIVE','ON LEAVE')
    AND EMPLOYEE_TYPE='Regular'
    AND DATE_DAY>='2024-01-01'
GROUP BY DATE_DAY,LOCATION,DATE_QUARTER,
CASE
    WHEN JOB_FAMILY_GROUP like '%ADESA%' THEN 'ADESA'
    ELSE JOB_FAMILY_GROUP END
ORDER BY DATE_DAY,JOB_FAMILY_GROUP,LOCATION,Active_employees;

""")

In [126]:
active_df=active_df[active_df['JOB_FAMILY_GROUP'].isin(necessary_JobFamilyGroups) & active_df['QUARTER'].notna()]

In [127]:
# # Count the number of active employees on each day
# active_df= active_emps.groupby(['DATE','JOB_FAMILY_GROUP','LOCATION','QUARTER'])\
#     .agg(employees=('EMPLOYEE_ID','count')).reset_index()

# # Adding WeekNumber for based on Date column
# active_df['WeekNumber']=active_df['Date'].dt.isocalendar().week # Add this for weekly turnover

# # # Adding Quarter based on Date column
# # active_df['Quarter'] = active_df['Date'].dt.to_period("Q")
# # active_df['Quarter'] = active_df['Quarter'].apply(lambda q: f"{q.strftime('Q%q')}'{str(q.year)[2:]}")

In [128]:
# Quarter calculation
# Calculating the average headcount for the Quater
# (Add Week Number in groupby for weekly turnover)

active_qt_df=active_df.groupby(['QUARTER','JOB_FAMILY_GROUP','LOCATION'])\
    .agg(Avg_emp=('ACTIVE_EMPLOYEES','mean')).reset_index()

# Rounding the weekly
active_qt_df['Avg_emp']=round(active_qt_df['Avg_emp'],2)

#### Term Calculation

In [129]:
turnover_terms= db_snowflake.execute("""

SELECT * FROM PEOPLEOPS_SANDBOX.SITERISK.TERMEMPLOYEE

""")

In [130]:
# Count number of terms each day
term_df= turnover_terms.groupby(['TERMINATIONDATE','JOB_FAMILY_GROUP','LOCATION','QUARTER'])\
    .agg(Terminations=('EMPLOYEE_ID','count')).reset_index()

# # Renaming Termination Date
# term_df=term_df.rename(columns={'TERMINATIONDATE':'Date'})

# # Adding Weeknumber based on Termination Date
# term_df['WeekNumber']=term_df['Date'].dt.isocalendar().week # Add this for weekly turnover

# # Adding Quarter based on Date column
# term_df['Quarter'] = term_df['Date'].dt.to_period("Q")
# term_df['Quarter'] = term_df['Quarter'].apply(lambda q: f"{q.strftime('Q%q')}'{str(q.year)[2:]}")

In [131]:
# Quarter calculation
# Calculating the terms for the quarter

term_qt_df=term_df.groupby(['QUARTER','JOB_FAMILY_GROUP','LOCATION'])\
    .agg(Terminations=('Terminations','sum')).reset_index()

#### Turnover

In [132]:
# # Combining Active and Terms 
# turnover_df=pd.merge(active_df,term_df,on=['Date','Quarter','Location','JobFamilyGroup'],how='left')

# # Fill NA
# turnover_df=turnover_df.fillna(0)

#### Quaterly Turnover

In [133]:
# Combining Active and Terms 
turnover_qt_df=pd.merge(active_qt_df,term_qt_df,on=['QUARTER','LOCATION','JOB_FAMILY_GROUP'],how='left')

# Fill NA
turnover_qt_df=turnover_qt_df.fillna(0)

In [134]:
turnover_qt_df= turnover_qt_df.groupby(['QUARTER','JOB_FAMILY_GROUP','LOCATION']).\
                            agg(Avg_emp=('Avg_emp','mean'),\
                                Terminations=('Terminations','sum')).reset_index()

# Calculating the turnover rate 
turnover_qt_df['Quaterly_Turnover']=round((turnover_qt_df['Terminations']/turnover_qt_df['Avg_emp'])*100,2)

In [135]:
turnover_qt_df=turnover_qt_df.rename(columns={'QUARTER':'Quarter','JOB_FAMILY_GROUP':'JobFamilyGroup','LOCATION':'Location'})

## Change

In [136]:
import re
# Function to parse quarter and year
def parse_quarter(quarter_str):
    match = re.match(r"Q([1-4])'(\d{2})", quarter_str)
    if match:
        return int(match.group(2)) * 4 + int(match.group(1))
    else:
        return None

In [137]:
# Add a new column for sorting
turnover_qt_df['sort_key'] = turnover_qt_df['Quarter'].apply(parse_quarter)


# Ensure the DataFrame is sorted by location, jobfamily, and sort_key
turnover_qt_df = turnover_qt_df.sort_values(by=['Location', 'JobFamilyGroup', 'sort_key'])


# Calculate the change in turnover for consecutive quarters
turnover_qt_df['Turnover_change'] = turnover_qt_df.groupby(['Location', 'JobFamilyGroup'])['Quaterly_Turnover'].diff()


# Drop the temporary sort_key column
turnover_qt_df = turnover_qt_df.drop(columns=['sort_key'])

In [138]:
turnover_qt_df['Turnover_change']=turnover_qt_df['Turnover_change'].fillna(0).round(2)

## Merge - Main DF

In [139]:
main_df=pd.merge(main_df,turnover_qt_df,on=['Quarter','JobFamilyGroup','Location'],how='left')

# Removing avg_emp col
# main_df.drop('Avg_emp', axis=1, inplace=True)

In [140]:
# main_df=main_df.drop(columns=['Terminations','Quaterly_Turnover','Turnover_change'])

# Navex - Siterisk 2.0

In [141]:
## SITE RISK 2.0
navex_files

["X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q1'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q2'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q3'25.csv"]

In [142]:
valid_locations = main_df[main_df['Score'] > 0][['Location', 'JobFamilyGroup']].drop_duplicates().to_dict('records')

print(valid_locations[:5]) # Print the first 5 to see the structure

[{'Location': 'AL Bessemer IC', 'JobFamilyGroup': 'Logistics'}, {'Location': 'AL Bessemer IC', 'JobFamilyGroup': 'Market Operations'}, {'Location': 'AL Bessemer IC', 'JobFamilyGroup': 'Post Production'}, {'Location': 'AL Bessemer IC', 'JobFamilyGroup': 'Reconditioning'}, {'Location': 'AL Birmingham', 'JobFamilyGroup': 'Market Operations'}]

In [143]:
navex_df_main= pd.DataFrame()

# Appending all the csv files into one DataFrame
for file in navex_files:
    df_temp_navex = pd.read_csv(file)


    # Strip leading and trailing spaces from column names
    df_temp_navex.columns = df_temp_navex.columns.str.strip()


    # Add Quarter information
    df_temp_navex['Quarter'] = file.split('_')[-1].split('.')[0]


    # Concatenate to main DataFrame
    navex_df_main = pd.concat([navex_df_main, df_temp_navex], ignore_index=True)

In [144]:
navex_df_main= navex_df_main.drop(columns=['LATITUTDE','LONGITUDE'])
navex_df_main=navex_df_main.drop_duplicates()
navex_df_main=navex_df_main.rename(columns={'BRANCH_NUMBER':'JobFamilyGroup'})

In [145]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process


def map_location(row, valid_locations, min_score=80):
    """
    Maps a given location name to the best matching valid location
    within the same job family group, prioritizing specific conditions.

    Args:
        row (pd.Series): A row from the DataFrame containing 'LOCATION_NAME' and 'JOBFAMILYGROUP'.
        valid_locations (list): A list of dictionaries with 'Location' and 'JobFamilyGroup'.
        min_score (int): Minimum fuzzy match score (0-100) to consider a match.

    Returns:
        str: The best matching valid location, or None if no good match is found.
    """
    location_name = row['LOCATION_NAME']
    job_family = row['JobFamilyGroup']

    if pd.isna(location_name):
        return None

    location_name_upper = location_name.upper()

    if location_name == 'Remote':
        return 'Remote'
    elif location_name == 'Other':
        return 'Other'
    elif 'VM' in location_name_upper or 'ADESA' in location_name_upper or 'VLC' in location_name_upper:
        return location_name
    else:
        # Filter valid locations by job family group
        relevant_locations = [
            loc['Location'] for loc in valid_locations if loc['JobFamilyGroup'] == job_family
        ]
        if not relevant_locations:
            return None  # No valid locations for this job family

        best_match, score = process.extractOne(location_name, relevant_locations, scorer=fuzz.token_set_ratio)
        if score >= min_score:
            return best_match
        return None

# Assuming your DataFrame 'df' has columns 'LOCATION_NAME' and 'JOBFAMILYGROUP'
navex_df_main['Mapped_Location'] = navex_df_main.apply(map_location, axis=1, valid_locations=valid_locations)

In [146]:
navex_df_main[['LOCATION_NAME', 'JobFamilyGroup', 'Mapped_Location']]

            LOCATION_NAME     JobFamilyGroup      Mapped_Location
0       FL Haines City IC          Logistics    FL Haines City IC
2           NJ Delanco IC          Logistics        NJ Delanco IC
4     OK Oklahoma City IC     Reconditioning  OK Oklahoma City IC
7          AZ Tolleson IC     Reconditioning       AZ Tolleson IC
8        TX Blue Mound IC     Reconditioning     TX Blue Mound IC
...                   ...                ...                  ...
2267   IN Indianapolis IC     Reconditioning   IN Indianapolis IC
2268      Schaumburg - VM  Market Operations      Schaumburg - VM
2269         GA Winder IC    Safe and Secure                 None
2271   IN Indianapolis IC     Reconditioning   IN Indianapolis IC
2273                Other                NaN                Other

[1335 rows x 3 columns]

In [147]:
navex_df_main['Mapped_Location']= np.where(navex_df_main['Mapped_Location'].isna(),navex_df_main['LOCATION_NAME'],navex_df_main['Mapped_Location'])

In [148]:
navex_df_main.head()

,ASSIGNED_TIER,JobFamilyGroup,LOCATION_NAME,CASE_NUMBER,PRIMARY_ISSUE,CASE_TYPE,CASE_STATUS,DATE_OPENED,DAYS_OPEN,DATE_CLOSED,CASE_OUTCOME,ACTION_TAKEN,Quarter,MONTH_OPENED,Mapped_Location
0,"Carvana Logistics, LLC",Logistics,FL Haines City IC,4647,Abuse of Authority/Inappropriate Supervisory D...,NaN,In Process,02/20/2025,41,04/02/2025,Substantiated,Training/Coaching,Q1'25,NaN,FL Haines City IC
2,"Carvana, LLC",Logistics,NJ Delanco IC,4813,Violation of Carvana Leadership Values (Intern...,Allegation,In Process,03/22/2025,11,04/02/2025,Referred,No Action Taken,Q1'25,NaN,NJ Delanco IC
4,"Carvana, LLC",Reconditioning,OK Oklahoma City IC,4835,Discrimination/ Harassment based on membership...,Allegation,Closed,03/27/2025,5,04/01/2025,Unsubstantiated,Training/Coaching,Q1'25,NaN,OK Oklahoma City IC
7,"Carvana, LLC",Reconditioning,AZ Tolleson IC,4852,Abuse of Authority/Inappropriate Supervisory D...,Allegation,Closed,03/31/2025,1,04/01/2025,Referred,No Action Taken,Q1'25,NaN,AZ Tolleson IC
8,"Carvana, LLC",Reconditioning,TX Blue Mound IC,4855,Abuse of Authority/Inappropriate Supervisory D...,Allegation,Closed,03/31/2025,1,04/01/2025,Disproved,Policy/ Process Review,Q1'25,NaN,TX Blue Mound IC

In [149]:
navex_df_main.value_counts('Quarter')

Quarter
Q3'25    492
Q1'25    449
Q2'25    394
Name: count, dtype: int64

In [150]:
navex_df_main.columns

Index(['ASSIGNED_TIER', 'JobFamilyGroup', 'LOCATION_NAME', 'CASE_NUMBER',
       'PRIMARY_ISSUE', 'CASE_TYPE', 'CASE_STATUS', 'DATE_OPENED', 'DAYS_OPEN',
       'DATE_CLOSED', 'CASE_OUTCOME', 'ACTION_TAKEN', 'Quarter',
       'MONTH_OPENED', 'Mapped_Location'],
      dtype='object')

In [151]:
navex_df_main=navex_df_main.rename(columns={'LOCATION_NAME':'Old_Location','Mapped_Location':'Location'})

In [152]:
# navex_df_main= navex_df_main.drop(columns=['QUARTER'])

## Snowflake

In [153]:
# Snowflake Dump
navex_df_snowflake= navex_df_main.copy()
db_snowflake_write.drop_table('Navex')
db_snowflake_write.dump('Navex',navex_df_snowflake)

Uploading data chunk num: 1: 100%|| 1335/1335 [00:00<00:00, 1947.67it/s]

True

## Navex Df

In [154]:
navex_df= navex_df_main.copy()
navex_df= navex_df[navex_df['JobFamilyGroup'].isin(necessary_JobFamilyGroups)]

In [155]:
navex_df= navex_df.groupby(['Location','JobFamilyGroup','Quarter'])\
    .agg(Navex_Incidents=('CASE_NUMBER','nunique')).reset_index()
    # .agg(Navex_Incidents=('CASE_STATUS','count')).reset_index()

In [156]:
navex_df.value_counts('Quarter')

Quarter
Q3'25    101
Q2'25    100
Q1'25     96
Name: count, dtype: int64

In [157]:
navex_df['Navex_Incidents'].sum()

838

In [158]:
navex_df.head()

                     Location     JobFamilyGroup Quarter  Navex_Incidents
0       ADESA - Atlanta - VLC     Reconditioning   Q3'25                1
1        ADESA - Boston - VLC     Reconditioning   Q3'25                1
2        ADESA - Dallas - VLC  Market Operations   Q3'25                1
3        ADESA - Dallas - VLC     Reconditioning   Q3'25                1
4  ADESA - Indianapolis - VLC     Reconditioning   Q3'25                1

## Main df

In [159]:
main_df=pd.merge(main_df,navex_df,on=['Location','JobFamilyGroup','Quarter'],how='left')
# main_df['Navex_Incidents']=main_df['Navex_Incidents'].fillna(0)

# Total Employees- Location/JobProfile

In [160]:
# OLD Total Emp LOGIC
#Pulling All Locations,Costcentres Required and Total EMployees

# totalemp_df= db_snowflake.execute("""

# SELECT LOCATION_NAME,JOB_FAMILY_GROUP, count(*) as TotalEmployees
# from shared.dw.dim_employee
# where JOB_FAMILY_GROUP in ('RECONDITIONING','MARKET_OPERATIONS','REGULATORY_OPERATIONS','LOGISTICS','WHOLESALE_OPERATIONS')
# AND (is_employee_active='True' or  is_on_loa='True')
# group by LOCATION_NAME,JOB_FAMILY_GROUP
# order by JOB_FAMILY_GROUP,location_name,TotalEmployees desc;

# """)

# # Pulling all Locations, Total Emp for ADESA - due to many misconsistencies with data

# ADESAemp_df= db_snowflake.execute("""

# SELECT LOCATION_NAME,'ADESA' as CostCentre,count(*) as TotalEmployees
# from shared.dw.dim_employee
# where JOB_PROFILE like ('%ADESA%')
# and is_employee_active='True' or  is_on_loa='True'
# group by LOCATION_NAME;

# """)


# Cleaning of Names

# totalemp_df=totalemp_df.rename(columns={'LOCATION_NAME':'Location','JOB_FAMILY_GROUP':'CostCentre','TOTALEMPLOYEES':'TotalEmployees'})

# ADESAemp_df=ADESAemp_df.rename(columns={'LOCATION_NAME':'Location','COSTCENTRE':'CostCentre','TOTALEMPLOYEES':'TotalEmployees'})

# # Rename Coscentre names
# totalemp_df['CostCentre']=totalemp_df['CostCentre'].replace({'RECONDITIONING':'Reconditioning',
#                                        'MARKET_OPERATIONS':'Market Operations',
#                                        'REGULATORY_OPERATIONS':'Regulatory Operations',
#                                        'LOGISTICS':'Logistics',
#                                        'WHOLESALE_OPERATIONS':'Wholesale Operations'})

# # Concat ADESA and TotalEmp
# totalemp_df = pd.concat([totalemp_df,ADESAemp_df]).reset_index(drop=True)

In [161]:
# totalemp_Loc_Jbp_df = pd.read_sql_query("""

# SELECT 
#     JobFamilyGroup,
#     Location,
#     count(*)as total_employees
# FROM 
#     PeopleOps.workday.tblEmployee
# WHERE 
#     ActiveStatus = 1
#     AND SSIS_IsDeleted = 0
#     AND EmployeeType = 'Regular'
# 	And JobProfile Not like '%ADESA%'
# GROUP By
# 	JobFamilyGroup,
#     Location
# Order By 
# 	total_employees desc,
# 	JobFamilyGroup,
#     Location

# """,odbcconn)

# total_emp_ADESA= pd.read_sql_query("""

# SELECT 
#     'ADESA' as JobFamilyGroup,
#     Location,
#     count(*)as total_employees
# FROM 
#     PeopleOps.workday.tblEmployee
# WHERE 
#     ActiveStatus = 1
#     AND SSIS_IsDeleted = 0
#     AND EmployeeType = 'Regular'
# 	AND JobProfile like '%ADESA%'
# GROUP By
#     Location
# Order By 
# 	total_employees desc,
#     Location

# """,odbcconn)

*** ADD QUARTER DATA IN 'CASE' STATEMENT

In [162]:
# SELECT JOB_FAMILY_GROUP,LOCATION,
#     CASE
#         WHEN DATE_QUARTER = '2024-01-01' THEN 'Q1''24'
#         WHEN DATE_QUARTER = '2024-04-01' THEN 'Q2''24'
#         WHEN DATE_QUARTER = '2024-07-01' THEN 'Q3''24'
#         ELSE 'Unknown'
#     END AS Quarter
#     ,Count(*) as Total_Employees
# FROM PEOPLEOPS_SANDBOX.DEV.WORKDAY_EMPLOYEE_LINEAGE
# WHERE DATA_TYPE='ACTIVE'
# AND DATEDIFF(DAY,DATE_QUARTER,DATE_DAY)=90
# AND DATE_DAY>='2024-01-01'
# AND JOB_PROFILE NOT Like '%ADESA%'
# GROUP BY JOB_FAMILY_GROUP,LOCATION,DATE_QUARTER
# ORDER BY Total_Employees desc,
# JOB_FAMILY_GROUP,
# LOCATION

In [163]:
totalemp_Loc_Jbp_df = db_snowflake.execute("""
                                          
SELECT
    CASE
    WHEN JOB_FAMILY_GROUP like '%ADESA%' THEN 'ADESA'
    ELSE JOB_FAMILY_GROUP
    END as JOB_FAMILY_GROUP,
    CASE
        WHEN DATE_QUARTER = '2024-01-01' THEN 'Q1''24'
        WHEN DATE_QUARTER = '2024-04-01' THEN 'Q2''24'
        WHEN DATE_QUARTER = '2024-07-01' THEN 'Q3''24'
        WHEN DATE_QUARTER = '2024-10-01' THEN 'Q4''24'
        WHEN DATE_QUARTER = '2025-01-01' THEN 'Q1''25'                                                                           
        WHEN DATE_QUARTER = '2025-04-01' THEN 'Q2''25'
        WHEN DATE_QUARTER = '2025-07-01' THEN 'Q3''25'                                                                          
    END AS Quarter,
    LOCATION,
    COUNT(*) as Total_employees
FROM 
    PEOPLEOPS_SANDBOX.DEV.WORKDAY_EMPLOYEE_LINEAGE
WHERE 
    DATA_TYPE = 'ACTIVE'
    AND EMPLOYEE_TYPE='Regular'
    --AND DATE_QUARTER IN ('2024-01-01','2024-04-01','2024-07-01','2024-10-01','2025-01-01')
    AND DATEDIFF(DAY,DATE_QUARTER,DATE_DAY)=89
    AND DATE_DAY>='2024-01-01'
GROUP BY DATE_DAY,LOCATION,DATE_QUARTER,
CASE
    WHEN JOB_FAMILY_GROUP like '%ADESA%' THEN 'ADESA'
    ELSE JOB_FAMILY_GROUP END
ORDER BY DATE_DAY,JOB_FAMILY_GROUP,LOCATION,Total_employees;

""")

In [164]:
totalemp_Loc_Jbp_df=totalemp_Loc_Jbp_df.drop_duplicates()

In [165]:
totalemp_Loc_Jbp_df=totalemp_Loc_Jbp_df[totalemp_Loc_Jbp_df['JOB_FAMILY_GROUP'].isin(necessary_JobFamilyGroups) & totalemp_Loc_Jbp_df['QUARTER'].notna()]

totalemp_Loc_Jbp_df=totalemp_Loc_Jbp_df.rename(columns={'LOCATION':'Location','JOB_FAMILY_GROUP':'JobFamilyGroup','QUARTER':'Quarter','TOTAL_EMPLOYEES':'Total_Employees'})

In [166]:
totalemp_Loc_Jbp_df.groupby('Quarter').size()

Quarter
Q1'24    399
Q1'25    419
Q2'24    412
Q2'25    428
Q3'24    420
Q3'25    439
Q4'24    401
dtype: int64

In [167]:
# total_emp_ADESA= db_snowflake.execute("""

# SELECT 'ADESA' as JOB_FAMILY_GROUP,LOCATION,
#     CASE
#         WHEN DATE_QUARTER = '2024-01-01' THEN 'Q1''24'
#         WHEN DATE_QUARTER = '2024-04-01' THEN 'Q2''24'
#         WHEN DATE_QUARTER = '2024-07-01' THEN 'Q3''24'
#         ELSE 'Unknown'
#     END AS Quarter
#     ,Count(*) as Total_Employees
# FROM PEOPLEOPS_SANDBOX.DEV.WORKDAY_EMPLOYEE_LINEAGE
# WHERE DATA_TYPE='ACTIVE'
# AND 
# AND DATEDIFF(DAY,DATE_QUARTER,DATE_DAY)=90
# AND DATE_DAY>='2024-01-01'
# AND JOB_PROFILE Like '%ADESA%'
# GROUP BY LOCATION,DATE_QUARTER
# ORDER BY Total_Employees desc,
# LOCATION;

# """)

In [168]:
# totalemp_Loc_Jbp_df=pd.concat([totalemp_Loc_Jbp_df,total_emp_ADESA])

## Active Qt Avg Emp

In [169]:
# active_qt_df=active_qt_df.rename(columns={'LOCATION':'Location','JOB_FAMILY_GROUP':'JobFamilyGroup','QUARTER':'Quarter','Avg_emp':'Average_Headcount'})

## Merge- Main df

In [170]:
main_df= pd.merge(main_df,totalemp_Loc_Jbp_df,on=['Location','JobFamilyGroup','Quarter'],how='left')

In [171]:
main_df['Location']=main_df['Location'].astype(str)

In [172]:
# main_df=main_df.drop(columns=['DATE'])

In [173]:
# main_df=pd.merge(main_df,active_qt_df,on=['Location','JobFamilyGroup','Quarter'],how='left')

In [174]:
main_df['PIPs & CARs'].sum()

37401.0

# Leadership

In [175]:
leadership = db_snowflake.execute(""" 
with cte as (
SELECT DATE_WEEK,LOCATION,JOB_FAMILY_GROUP,SUM(TOTAL_LEADERS) as TOTAL_LEADERS, SUM(LEADER_HIRED) as LEADER_HIRED, SUM(TERMINATIONS) as LEADER_TERMINATIONS
FROM PEOPLEOPS_SANDBOX.SITERISK.LEADERSHIP
-- WHERE LOCATION='MA Boston - Western'
-- AND JOB_FAMILY_GROUP ='Reconditioning'
GROUP BY ALL
)

-- SELECT * FROM cte
-- WHERE LOCATION='MA Boston - Western'
-- AND JOB_FAMILY_GROUP='ADESA'
-- ORDER BY DATE_WEEK;

SELECT
DATE_TRUNC('quarter',DATE_WEEK) as DATE_QUARTER
,    CASE
        WHEN DATE_QUARTER = '2025-01-01' THEN 'Q1''25'                                                                           
        WHEN DATE_QUARTER = '2025-04-01' THEN 'Q2''25'
        WHEN DATE_QUARTER = '2025-07-01' THEN 'Q3''25'
        WHEN DATE_QUARTER = '2025-10-01' THEN 'Q4''25'                                                                          
    END AS Quarter
,LOCATION
,JOB_FAMILY_GROUP
,ROUND(AVG(TOTAL_LEADERS),0) as AVG_LEADERS
,SUM(LEADER_HIRED) as LEADER_HIRED
,SUM(LEADER_TERMINATIONS) as LEADER_TERMED
FROM cte
GROUP BY ALL;
                                   """)

In [176]:
leadership.head()

,DATE_QUARTER,QUARTER,LOCATION,JOB_FAMILY_GROUP,AVG_LEADERS,LEADER_HIRED,LEADER_TERMED
0,2025-01-01,Q1'25,NV Las Vegas - Gowan IC,Logistics,1.0,NaN,NaN
1,2025-07-01,Q3'25,NC Concord IC,Logistics,2.0,NaN,2.0
2,2025-04-01,Q2'25,NC Concord IC,Logistics,2.0,NaN,NaN
3,2025-04-01,Q2'25,VA Chesterfield IC,Reconditioning,4.0,NaN,NaN
4,2025-04-01,Q2'25,ND Fargo,ADESA,1.0,NaN,NaN

In [177]:
leadership.rename(columns={'LOCATION':'Location','JOB_FAMILY_GROUP':'JobFamilyGroup','QUARTER':'Quarter'},inplace=True)

In [178]:
main_df=pd.merge(main_df,leadership[['Location','JobFamilyGroup','Quarter','AVG_LEADERS','LEADER_HIRED','LEADER_TERMED']],on=['Location','JobFamilyGroup','Quarter'],how='left')

In [179]:
main_df.rename(columns={'AVG_LEADERS':'Avg_Leaders', 'LEADER_HIRED':'Leader_Hired', 'LEADER_TERMED':'Leader_Termed'}, inplace=True)

# Overtime

In [7]:
# overtime_snow = db_snowflake.execute("""
#     SELECT 
#         LOCATIONNAME as LOCATION
#         ,DATE_TRUNC('quarter',DATE) AS DATE_QUARTER
#         ,CASE
#         WHEN DATE_QUARTER = '2025-01-01' THEN 'Q1''25'                                                                           
#         WHEN DATE_QUARTER = '2025-04-01' THEN 'Q2''25'
#         WHEN DATE_QUARTER = '2025-07-01' THEN 'Q3''25'
#         WHEN DATE_QUARTER = '2025-10-01' THEN 'Q4''25'                                                                          
#         END AS Quarter
#         ,'Reconditioning' AS JOB_FAMILY_GROUP
#         ,ROUND(SUM(OVERTIMEHOURS),0) as TOTAL_OVERTIME
#     FROM PEOPLEOPS_SANDBOX.DEV.IC_OVERTIME_AVG_HOURS
#     WHERE DATE>='2025-01-01'
#     GROUP BY LOCATIONNAME,DATE_TRUNC('quarter',DATE);
#                                      """)

### UPDATE TO SNOWFLAKE VERSION TABLE [INVENTORY.PUBLIC.EXPECTED_VS_PAID_HOURS]

In [180]:
overtimequery = """Select LocationName as LOCATION,
DATETRUNC(QUARTER,Date) as DATE_QUARTER,
CASE 
 WHEN JobFamilyGroup like '%RECON%' Then 'Reconditioning'
 WHEN JobFamilyGroup like '%POST%' Then 'Post Production'
 ELSE NULL
 END
 AS JOB_FAMILY_GROUP
,CASE
         WHEN DATETRUNC(QUARTER,Date) = '2025-01-01' THEN 'Q1''25'                                                                           
         WHEN DATETRUNC(QUARTER,Date) = '2025-04-01' THEN 'Q2''25'
         WHEN DATETRUNC(QUARTER,Date) = '2025-07-01' THEN 'Q3''25'
         WHEN DATETRUNC(QUARTER,Date) = '2025-10-01' THEN 'Q4''25'                                                                          
         END AS QUARTER
,ROUND(SUM(OvertimeHours),0) as TOTAL_OVERTIME 
from opsgroup.ic.ExpectedvsPaidHours
WHERE JobFamilyGroup in ('RECONDITIONING','POST_PRODUCTION')
AND Date >='2025-01-01'
GROUP BY LocationName,DATETRUNC(QUARTER,Date),JobFamilyGroup"""


overtime_sql = pd.read_sql_query(overtimequery, odbcconnops)

C:\Users\E102068\AppData\Local\Temp\ipykernel_27340\2992662510.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  overtime_sql = pd.read_sql_query(overtimequery, odbcconnops)

In [181]:
overtime_sql.head()

                LOCATION DATE_QUARTER JOB_FAMILY_GROUP QUARTER  TOTAL_OVERTIME
0   TX Dallas - Hutchins   2025-10-01   Reconditioning   Q4'25          3753.0
1      TX San Antonio IC   2025-04-01   Reconditioning   Q2'25         18579.0
2         MO Kansas City   2025-01-01   Reconditioning   Q1'25          6620.0
3  GA Atlanta - Fairburn   2025-04-01   Reconditioning   Q2'25          9205.0
4           GA Winder IC   2025-10-01   Reconditioning   Q4'25          9715.0

In [182]:
overtime_snow = overtime_sql.copy()

In [183]:
overtime_snow.rename(columns={'LOCATION':'Location','JOB_FAMILY_GROUP':'JobFamilyGroup','QUARTER':'Quarter','TOTAL_OVERTIME':'Total_Overtime_hours_Quarter'},inplace=True)

In [184]:
main_df=pd.merge(main_df,overtime_snow[['Location','JobFamilyGroup','Quarter','Total_Overtime_hours_Quarter']],on=['Location','JobFamilyGroup','Quarter'],how='left')

# Snowflake - Main DF

In [185]:
# # Create Table
# db_snowflake_write.create_table('metrics',
#                   {
#                      'Location': ['VARCHAR(1000)'],
#                      'Score': ['INT'],
#                      'eSat Change': ['INT'], 
#                      'JobFamilyGroup': ['VARCHAR(1000)'],
#                      'Quarter': ['VARCHAR(1000)'], 
#                      'Injuries': ['INT'],
#                      'EmployeesPIPs_CARs': ['INT'],
#                      'CARs': ['INT'],
#                      'PIPs': ['INT'],
#                      'PIPs & CARs': ['INT'],
#                      'Terminations': ['INT'],
#                      'Quaterly_Turnover': ['INT'],
#                      'Turnover_Change':['INT'],
#                      'Total_Employees': ['INT'],
#                   })

In [186]:
# db_snowflake_write.drop_table('metrics')
# db_snowflake_write.dump('metrics',main_df)

In [ ]:
# Inserting the main df
# db_snowflake_write.insert('metrics',main_df,truncate=True)

Uploading data chunk num: 1: 100%|| 2846/2846 [00:00<00:00, 3343.01it/s]

True

In [ ]:
# db_snowflake_write.drop_table('main_df')

# Normalised Df for ranking - Site risk 2.0

In [ ]:
normalised_df=main_df

In [ ]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd


# Assuming 'df' is your DataFrame.
scaler = MinMaxScaler()


# Select only the numeric columns in the DataFrame
numeric_cols = normalised_df.select_dtypes(include=[np.number]).columns


# Fit on the data
scaler.fit(normalised_df[numeric_cols])


# Transform the data. This will return a numpy array.
scaled_data = scaler.transform(normalised_df[numeric_cols])


# Create a DataFrame from the numpy array, and assign the original column names
scaled_df = pd.DataFrame(scaled_data, columns=numeric_cols)


# Replace the numeric columns in the original DataFrame with the scaled values
normalised_df[numeric_cols] = scaled_df

In [ ]:
normalised_df.columns

In [ ]:
# First, fill NaN values with 0
normalised_df = normalised_df.fillna(0)

In [ ]:
normalised_df['Siterisk_KPI'] =(normalised_df['Score']*30)\
                                +(normalised_df['Quaterly_Turnover']*30)\
                                +(normalised_df['Terminations']*15)\
                                +(normalised_df['Injuries']*10)\
                                +(normalised_df['PIPs & CARs']*15)

In [ ]:
# Select Only Necessary Columns

# Overall

## Overall Files

In [ ]:
overall_files

In [ ]:
overall_df= pd.DataFrame()
# Appending all the csv files into one df
for file in overall_files:
    df_temp=pd.read_csv(file)
    df_temp['File']= file.split('_')[-1].split('.')[0]
    df_temp['Quarter']=file.split('_')[-2]
        # filename=file.split('_')[-1].split('.')[0]
    overall_df=pd.concat([overall_df,df_temp],ignore_index=True)

overall_df=overall_df.rename(columns={'Organization':'JobFamilyGroup'})

In [ ]:
# Overall CostCentre Dataframe
overall_costcentre_df= overall_df[overall_df['Manager Email'].isna() & overall_df['Location'].isna()]

# Selecting only neccesary columns
overall_costcentre_df= overall_costcentre_df.iloc[:,[0,5,6,10]].reset_index(drop=True)

# Rename Scores 
overall_costcentre_df=overall_costcentre_df.rename(columns={overall_costcentre_df.columns[1]:'Score',overall_costcentre_df.columns[2]:'eSat Change'})
overall_costcentre_df['Location']='All'

In [ ]:
# Overall Location Df
overall_locations_df = overall_df[overall_df['JobFamilyGroup'].isna() & overall_df['Manager Email'].isna()]

# Selecting only neccesary columns
overall_locations_df= overall_locations_df.iloc[:,[-2,5,6,-3]].reset_index(drop=True)

# Rename Scores 
overall_locations_df=overall_locations_df.rename(columns={overall_locations_df.columns[1]:'Score',overall_locations_df.columns[2]:'eSat Change'})
overall_locations_df['JobFamilyGroup']='All'

In [ ]:
# Overall Manager Df
overall_managers_df = overall_df[overall_df['JobFamilyGroup'].isna() & overall_df['Location'].isna()]

# Selecting only neccesary columns
overall_managers_df= overall_managers_df.iloc[:,[-1,5,6,-3]].reset_index(drop=True)

# Rename Scores 
overall_managers_df=overall_managers_df.rename(columns={overall_managers_df.columns[1]:'Score',overall_managers_df.columns[2]:'eSat Change'})

## Managers

In [ ]:
overall_managers_sql= db_conn.execute("""

SELECT 
	distinct Manager1_Name as Manager,
	Manager1_Level as ManagerLevel,
    JobFamilyGroup,
    Location,
    count(*) as Employees
FROM 
    PeopleOps.workday.tblEmployee
WHERE 
    ActiveStatus = 1
    AND SSIS_IsDeleted = 0
    AND EmployeeType = 'Regular'
    AND JobProfile NOT like '%ADESA%'
GROUP By
	Manager1_Name,
	Manager1_Level,
	JobFamilyGroup,
    Location
Order By 
	Employees desc,
	JobFamilyGroup,
    Location

""")

overall_adesa_managers_sql= db_conn.execute("""

SELECT 
	distinct Manager1_Name as Manager,
	Manager1_Level as ManagerLevel,
    'ADESA' as JobFamilyGroup,
    Location,
    count(*) as Employees
FROM 
    PeopleOps.workday.tblEmployee
WHERE 
    ActiveStatus = 1
    AND SSIS_IsDeleted = 0
    AND EmployeeType = 'Regular'
	And JobProfile like '%ADESA%'
GROUP By
	Manager1_Name,
	Manager1_Level,
	JobFamilyGroup,
    Location
Order By 
	Employees desc,
	JobFamilyGroup,
    Location

""")

In [ ]:
# Concat managers df
overall_managers_sql=pd.concat([overall_managers_sql,overall_adesa_managers_sql])

In [ ]:
# Get the managers name
overall_managers_df['ManagerName'] = overall_managers_df['Manager Email'].str.split("'").str[0]

# Striping any space for proper join
overall_managers_df['Manager'] = overall_managers_df['ManagerName'].str.strip()
overall_managers_sql['Manager'] = overall_managers_sql['Manager'].str.strip()
# overall_adesa_managers_sql['Manager']=overall_adesa_managers_sql['Manager'].str.strip()

# Striping in between
overall_managers_df['Manager'] = overall_managers_df['ManagerName'].str.replace(" ","")
overall_managers_sql['Manager'] = overall_managers_sql['Manager'].str.replace(" ","")
# overall_adesa_managers_sql['Manager']=overall_adesa_managers_sql['Manager'].str.replace(" ","")

In [ ]:
# Joining GLINT and SQL
managers_df=pd.merge(overall_managers_df,overall_managers_sql,on='Manager',how='left')

# Selecting only neccesary jobfamily
managers_df=managers_df[managers_df['JobFamilyGroup'].isin(necessary_JobFamilyGroups)]

# Selecting only neccesary columns
managers_df=managers_df[['ManagerName','ManagerLevel','Score','eSat Change','Quarter','Location','JobFamilyGroup','Employees']]

In [ ]:
# Convert to numeric
managers_df['Score']=pd.to_numeric(managers_df['Score'],errors='coerce')
managers_df['eSat Change']=pd.to_numeric(managers_df['eSat Change'],errors='coerce')

# Fill NA
managers_df=managers_df.fillna(0)

### Snowflake - Managers

In [ ]:
# # # Create Table
# db_snowflake_write.create_table('managers',
#                   {
#                      'ManagerName': ['VARCHAR(1000)'],
#                      'ManagerLevel': ['VARCHAR(1000)'],
#                      'Score': ['INT'],
#                      'eSat Change': ['INT'],
#                      'Quarter': ['VARCHAR(1000)'], 
#                      'Location': ['VARCHAR(1000)'], 
#                      'JobFamilyGroup': ['VARCHAR(1000)'],
#                      'Employees': ['VARCHAR(1000)']
#                   })

In [ ]:
# db_snowflake_write.insert('managers',managers_df,truncate=True)

## Overal Emp- CostCentres -(N/A)

In [ ]:
# # Pulling All Locations,Costcentres Required and Total EMployees

# overall_emp_costcentre_df= db_snowflake.execute("""

# SELECT JOB_FAMILY_GROUP as CostCentre, count(*) as TotalEmployees
# from shared.dw.dim_employee
# where JOB_FAMILY_GROUP in ('RECONDITIONING','MARKET_OPERATIONS','REGULATORY_OPERATIONS','LOGISTICS','WHOLESALE_OPERATIONS')
# AND (is_employee_active='True' or  is_on_loa='True')
# group by JOB_FAMILY_GROUP
# order by TotalEmployees desc;

# """)

# # Pulling all Locations, Total Emp for ADESA - due to many misconsistencies with data

# overall_ADESAemp_df= db_snowflake.execute("""

# SELECT 'ADESA' as CostCentre,count(*) as TotalEmployees
# from shared.dw.dim_employee
# where JOB_PROFILE like ('%ADESA%')
# and is_employee_active='True' or  is_on_loa='True';

# """)

In [ ]:
# # Combining the overall employee df
# overall_emp_costcentre_df= pd.concat([overall_emp_costcentre_df,overall_ADESAemp_df])

# # Clearing names
# overall_emp_costcentre_df=overall_emp_costcentre_df.rename(columns={'COSTCENTRE':'CostCentre','TOTALEMPLOYEES':'TotalEmployees'})

# # Rename Coscentre names
# overall_emp_costcentre_df['CostCentre']=overall_emp_costcentre_df['CostCentre'].replace({'RECONDITIONING':'Reconditioning',
#                                        'MARKET_OPERATIONS':'Market Operations',
#                                        'REGULATORY_OPERATIONS':'Regulatory Operations',
#                                        'LOGISTICS':'Logistics',
#                                        'WHOLESALE_OPERATIONS':'Wholesale Operations'})

# # Filtring only for SiteRisk Costcentres
# overall_emp_costcentre_df=overall_emp_costcentre_df[overall_emp_costcentre_df['CostCentre'].isin(SiteRisk_CostCentres)]

## Overall Emp - Locations - (N/A)

In [ ]:
# overall_emp_locations_df= db_snowflake.execute("""

# SELECT LOCATION_NAME,count(*) as TotalEmployees
# from shared.dw.dim_employee
# where (JOB_FAMILY_GROUP in ('RECONDITIONING','MARKET_OPERATIONS','REGULATORY_OPERATIONS','LOGISTICS','WHOLESALE_OPERATIONS')
# AND (is_employee_active='True' or  is_on_loa='True'))
# OR (JOB_PROFILE like ('%ADESA%')) --ADESA Locations
# group by LOCATION_NAME
# order by TotalEmployees desc;

# """)

In [ ]:
# # Clearing names
# overall_emp_locations_df=overall_emp_locations_df.rename(columns={'LOCATION_NAME':'Location','TOTALEMPLOYEES':'TotalEmployees'})

### Overall Locations/CostCentre

In [ ]:
# # Merging Total employees into overall locations/costcentre

# overall_locations_df= pd.merge(overall_locations_df,overall_emp_locations_df, on='Location',how='left')

# overall_costcentre_df= pd.merge(overall_costcentre_df,overall_emp_costcentre_df, on='CostCentre', how='left')

# # Filtering out only for specific costcentre

# overall_costcentre_df=overall_costcentre_df[overall_costcentre_df['CostCentre'].isin(SiteRisk_CostCentres)]
# print(main_df[main_df['CostCentre']=='ADESA']['TotalEmployees'].sum())

# # Overall DF

# overall_main_df = pd.concat([overall_locations_df,overall_costcentre_df])

# # # Convert 'Score' column to numeric, errors='coerce' will replace non-numeric values with NaN
# # overall_main_df['Score'] = pd.to_numeric(overall_main_df['Score'], errors='coerce')
# # overall_main_df['eSat Change'] = pd.to_numeric(overall_main_df['eSat Change'], errors='coerce')

# Automation Bot and Webscraping (N/A)

In [ ]:
# import selenium
# from selenium import webdriver
# from selenium.webdriver.chrome.service import Service
# from selenium.webdriver.chrome.options import Options
# from webdriver_manager.chrome import ChromeDriverManager

In [ ]:
# # Make sure website is open after run
# options = Options()
# options.add_experimental_option("detach",True)

# # Add driver
# driver= webdriver.Chrome(service=Service(ChromeDriverManager().install()),options=options)
# #driver.get("https://app.us1.glintinc.com/carvana/dashboard")
# driver.get("https://www.techwithtim.net/")

# Old Logic / Reference

In [ ]:
# AdHoc
# last_quater_performance_sql_df= db_conn.execute("""

# Select * FROM PeopleOps.workday.FactEmployeeReviews
# WHERE ReviewStartDate >= DATEADD(QUARTER, DATEDIFF(QUARTER, 0, '{date_today}') - 1, 0)
# AND ReviewStartDate < DATEADD(QUARTER, DATEDIFF(QUARTER, 0, '{date_today}'), 0) 
# AND Status in ('In Process','Successfully Completed','Rescinded') 
# AND ReviewCategory in ('Corrective Action','Performance Improvement Plan')

# """)

# not_in_df = last_quater_performance_sql_df[~last_quater_performance_sql_df['EmployeeId'].isin(performance_sql_df['EmployeeId'])]

In [ ]:
# OLD Pips/CARs Logic

# # PIPs and CARs Segmentation
# pips_performance  = performance_sql_df[performance_sql_df['ReviewCategory']=='Performance Improvement Plan']
# pips_performance= pips_performance.iloc[:,[0,1,-2,-1]]


# cars_performance = performance_sql_df[performance_sql_df['ReviewCategory']=='Corrective Action']
# cars_performance = cars_performance.iloc[:,[0,1,-2,-1]]
# pips_performancecheck=pips_performance.groupby(['ReviewCategory','Location','Quarter']).agg('count').reset_index()

In [ ]:
# LOCAL CSV PULL METHOD
# # Files to pull location demographic csv
# subdirectory_path=os.path.join("Glint Reports","Q1'24","Overall")

# # Level 1 csv files
# overall_files= glob.glob(os.path.join(subdirectory_path, "*.csv"))


# # Managers dataframe and selecting only imp columns
# Managers_df= pd.read_csv("Glint Reports\Q1'24\Overall\glint_report_Q1'24_Managers.csv")
# Managers_df['Quarter']= 
# Managers_df=Managers_df.iloc[:,[0,5,6]]

# # CostCentres dataframe and selecting only imp columns
# overall_costcentre_df= pd.read_csv("Glint Reports\Q1'24\Overall\glint_report_Q1'24_CostCentres.csv")
# overall_costcentre_df= overall_costcentre_df.iloc[:,[0,5,6]]

In [ ]:
#OLD Injury Logic

# # Fetching Total Employees to calculate ratio excluding ADESA employee count becaus of ADESA coscentre and the original costcentre
# Total_employees= db_conn.execute("""

# SELECT Count(*) as TotalEmployees ,JobFamilyGroup as CostCentre, Location 
# FROM [PeopleOps].[workday].[tblEmployee] 
# WHERE WorkerStatus In ('Active','On Leave') 
# AND Company NOT LIKE '%ADESA%' 
# GROUP BY JobFamilyGroup,Location 
# ORDER BY JobFamilyGroup,Location

# """)

# Total_employees_Overall= db_conn.execute("""

# SELECT Count(*) as TotalEmployees, Location 
# FROM [PeopleOps].[workday].[tblEmployee] 
# WHERE WorkerStatus In ('Active','On Leave') 
# AND Company NOT LIKE '%ADESA%' 
# AND JobFamilyGroup NOT LIKE '%ADESA%'
# GROUP BY Location 
# ORDER BY TotalEmployees desc,Location

# """)

# # Merging with total employees
# injury_df= pd.merge(injury_df,Total_employees, how='left', on=['Location','CostCentre'])

# # Injuries across all locations
# injury_all_df= injury_df[['Location','Quarter','Injuries']]
# injury_all_df = injury_all_df.groupby(['Location','Quarter']).agg('sum').reset_index()
# injury_all_df= pd.merge(injury_all_df,Total_employees_Overall, how='left', on=['Location'])
# injury_all_df['CostCentre']='LocationsAll'
# # Join Injury Data
# injury_df=pd.concat([injury_df,injury_all_df])

# # Calculating the ratio
# injury_df['Injury Percentage']= round((injury_df['Injuries']/injury_df['TotalEmployees'])*100,2)

In [ ]:
# dfs={}
# for file in files:
#     # Define the file name
#     file_name = pd.Series(file)
#     # file_name = file.split('/')[-1].split('.')[0]

#     # Use str.extract to capture the string from "Q" to just before ".csv"
#     captured_string = file_name.str.extract('(Q.*)(?=\.csv)', expand=False)[0]

#     # Df 
#     dfs[captured_string]=pd.read_csv(file)


# # for i, df_name in enumerate(dfs.keys(), start=1):
# #     globals()[f'df{i}'] = dfs[df_name]

# for key, value in dfs.items():
#     globals()[key] = value

# SANDBOX

In [ ]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from sklearn.datasets import fetch_california_housing
from sklearn.preprocessing import StandardScaler

data = fetch_california_housing()

df = pd.DataFrame(data.data, columns=data.feature_names)
target = pd.DataFrame(data.target, columns=["MedHouseVal"])

In [ ]:
X = df
Y = target["MedHouseVal"]

In [ ]:
X = sm.add_constant(X)

In [ ]:
model = sm.OLS(Y, X).fit()

In [ ]:
print(model.summary())

In [ ]:
scaler = StandardScaler()
X_std = scaler.fit_transform(X)

In [ ]:
model_std = sm.OLS(Y, sm.add_constant(X_std)).fit()
print(model_std.summary())

In [ ]:
coef_sq = np.square(model_std.params[1:])
sum_coef_sq = np.sum(coef_sq)
contributions = coef_sq / sum_coef_sq
print(contributions)