REGULATORY OPS CHANGED TO 'Registration' - UPDATE IT in NEXT SITERISK RUN

# Libraries

In [131]:
import pandas as pd # type: ignore
import numpy as np # type: ignore
import datetime
import glob
import os

# Connections

In [132]:
from carvana_sql import SQLServer # type: ignore
db_conn = SQLServer.connect('PEOPLEOPSPROD,1439')

In [133]:
cnx_str = "Driver={ODBC Driver 17 for SQL Server};Server=PEOPLEOPSPROD,1439;Database=PEOPLEOPS;Trusted_Connection=yes;"
cnx_str_app = "Driver={ODBC Driver 17 for SQL Server};Server=dwhcar-l;Database=OpsGroup;Trusted_Connection=yes;"

import pyodbc
odbcconn = pyodbc.connect(cnx_str)
odbcconnops = pyodbc.connect(cnx_str_app)
odbcquery = 'Select Top 10 * from PeopleOps.tenstreet.FactDriver'
odbcdf = pd.read_sql_query(odbcquery, odbcconn)

C:\Users\E102068\AppData\Local\Temp\ipykernel_16040\2098714686.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  odbcdf = pd.read_sql_query(odbcquery, odbcconn)

In [134]:
# Todays Date - Used in multiple SQL queries
# Change the value of today if you'd like to run the code at a different time

# date_today=pd.to_datetime('2024-03-01')

date_today=pd.to_datetime(datetime.date.today())

In [135]:
# date_today=pd.to_datetime('2024-04-12')

In [136]:
from carvana_sql import Snowflake

SnowflakeWarehouse = 'PEOPLEOPS_ANALYTICS'
SnowflakeRole = 'PEOPLEOPS_ANALYTICS'
SnowflakeEmail = 'anish.middela@carvana.com'
SnowflakeDatabase = "PEOPLEOPS_SANDBOX"
Snowflakeschema="SITERISK"

db_snowflake = Snowflake.connect(
                username=SnowflakeEmail,                
                role=SnowflakeRole,
                warehouse=SnowflakeWarehouse)

db_snowflake_write = Snowflake.connect(
                username=SnowflakeEmail,                
                role=SnowflakeRole,
                warehouse=SnowflakeWarehouse,
                database=SnowflakeDatabase,
                schema= Snowflakeschema )

# Glint / Peakon / CheckPoint

### Location Files

In [137]:
# Local CSV Pull

# # Files to pull location demographic csv
# location_path="Glint Reports"

# # Level 1 csv files
# location_files= glob.glob(os.path.join(location_path, "*\*.csv"))

# # Loop over lvl 2 subdirectory csv files
# #location_files= glob.glob(os.path.join(location_path, "**\*.csv"), recursive= True)

In [138]:
# Netwrok csv pull
network_location_path="X:\People_Operations\Secured\Talent Analytics\Anish Middela\SiteRisk"

# Level 1 csv files
network_location_files= glob.glob(os.path.join(network_location_path, "**\*.csv"),recursive=True)

In [139]:
network_location_files

["X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Checkpoint\\Checkpoint_Q3'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Checkpoint\\Checkpoint_Q4'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\ADESA\\glint_Q1'24_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\Overall\\glint_report_Q1'24_AllCostCentre.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\Overall\\glint_report_Q1'24_AllLocations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\Overall\\glint_report_Q1'24_Managers.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\ADESA\\glint_Q1'25_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\ADESA\\glint_Q2'24_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\ADESA\\glint_Q2'25_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\ADESA\\glint_Q3'24_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\ADESA\\glint_Q4'24_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Injuries\\injuries_report_Q1'24.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Injuries\\injuries_report_Q1'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Injuries\\injuries_report_Q2'24.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Injuries\\injuries_report_Q3'24.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Injuries\\injuries_report_Q4'24.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q1'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q2'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q3'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q4'25.csv"]

In [140]:
glint_files = []
injury_files = []
navex_files = []
overall_files=[]
checkpoint_files=[]


for path in network_location_files:
    if "Overall" in path:
        overall_files.append(path)
    elif "Navex" in path:
        navex_files.append(path)
    elif "Checkpoint" in path:
        checkpoint_files.append(path)
    elif "Glint" in path:
        glint_files.append(path)
    elif "Injuries" in path:
        injury_files.append(path)

In [141]:
# files=os.listdir("C:/Users/E102068/Desktop/SiteRisk Dashboard/Glint Reports/Q1_24")

# # Files with overall data
# main_path="Glint Reports\Q1_24\Overall"

# main_files= glob.glob(main_path+"\*.csv")

In [142]:
navex_files

["X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q1'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q2'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q3'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q4'25.csv"]

In [143]:
glint_files

["X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\ADESA\\glint_Q1'24_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'24\\Carvana\\glint_Carvana_Q1'24_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\ADESA\\glint_Q1'25_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q1'25\\Carvana\\glint_Carvana_Q1'25_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\ADESA\\glint_Q2'24_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'24\\Carvana\\glint_Carvana_Q2'24_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\ADESA\\glint_Q2'25_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q2'25\\Carvana\\glint_Carvana_Q2'25_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\ADESA\\glint_Q3'24_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q3'24\\Carvana\\glint_Carvana_Q3'24_Wholesale Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\ADESA\\glint_Q4'24_ADESA.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Logistics.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Market Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Post Production.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Reconditioning.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Regulatory Operations.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Glint Reports\\Q4'24\\Carvana\\glint_Carvana_Q4'24_Wholesale Operations.csv"]

In [144]:
location_df = pd.DataFrame()
# Appending all the csv files into one df
for file in glint_files:
    df_temp=pd.read_csv(file)
    df_temp['JobFamilyGroup']= file.split('_')[-1].split('.')[0]
    df_temp['Quarter']=file.split('_')[-2]

    location_df=pd.concat([location_df,df_temp],ignore_index=True)

    #df_temp['Quarter']=file.split('\\')[1] #Used this for Local Located files rather than network
        # filename=file.split('_')[-1].split('.')[0]

In [145]:
# Select only neccesary columns
location_df=location_df.iloc[:,[0,5,6,15,16]]

# Rename
location_df= location_df.rename(columns={location_df.columns[1]:'Score',location_df.columns[2]:'eSat Change'})

# Filter out Location ==ALL
location_df = location_df[~(location_df['Location'] == 'All')]

In [146]:
# Convert 'Score' column to numeric, errors='coerce' will replace non-numeric values with NaN
location_df['Score'] = pd.to_numeric(location_df['Score'], errors='coerce')
location_df['eSat Change'] = pd.to_numeric(location_df['eSat Change'], errors='coerce')

# Fill na ==0
location_df=location_df.fillna(0)

# Peakon / Checkpoint

In [147]:
checkpoint_files

["X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Checkpoint\\Checkpoint_Q3'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Checkpoint\\Checkpoint_Q4'25.csv"]

In [148]:
# Checkpoint Data Pull
checkpoint_df = pd.DataFrame()
# Appending all the csv files into one df
for file in checkpoint_files:
    df = pd.read_csv(file)
    df['Quarter'] = file.split('_')[-1].split('.')[0]
    checkpoint_df = pd.concat([checkpoint_df, df], ignore_index=True)

Peakon Data Cleaning

In [149]:
checkpoint_df.columns

Index(['Location', 'JobFamilyGroup', 'Segment', 'Participants',
       'Participation_Percentage', 'Score', 'Quarter'],
      dtype='object')

In [150]:
checkpoint_df['JobFamilyGroup'] = np.where(checkpoint_df['JobFamilyGroup'].str.contains('ADESA'), 'ADESA',checkpoint_df['JobFamilyGroup'])

In [151]:
checkpoint_df['Employee_Size_Checkpoint'] = checkpoint_df['Participants']/checkpoint_df['Participation_Percentage']
checkpoint_df['Employee_Size_Checkpoint'] = checkpoint_df['Employee_Size_Checkpoint'].round(0).astype(int)

In [152]:
checkpoint_df = checkpoint_df[['Location','JobFamilyGroup','Participants','Employee_Size_Checkpoint','Score','Quarter']]

In [153]:
checkpoint_df = checkpoint_df.groupby(['Location','JobFamilyGroup','Quarter']).agg({'Participants':'sum','Employee_Size_Checkpoint':'sum','Score':'mean'}).reset_index()

In [154]:
checkpoint_df['Score'] = checkpoint_df['Score'].round(1)

In [155]:
## Trim whitespace from Location, JobFamilyGroup, and Quarter columns
checkpoint_df['Location'] = checkpoint_df['Location'].str.strip()
checkpoint_df['JobFamilyGroup'] = checkpoint_df['JobFamilyGroup'].str.strip()
checkpoint_df['Quarter'] = checkpoint_df['Quarter'].str.strip()

In [156]:
# Create empty columns in location_df for merging later
location_df['Participants']=None
location_df['Employee_Size_Checkpoint']=None

In [157]:
location_df=location_df[['Location','JobFamilyGroup','Participants','Employee_Size_Checkpoint','Score','Quarter']]

In [158]:
location_df = pd.concat([location_df, checkpoint_df], ignore_index=True)

In [159]:
location_df['Quarter'].value_counts()

Quarter
Q2'24    417
Q3'24    415
Q1'25    405
Q2'25    405
Q1'24    400
Q4'25    399
Q4'24    398
Q3'25    358
Name: count, dtype: int64

### Necessary JobFamilyGroups

In [160]:
necessary_JobFamilyGroups = ['Logistics','Market Operations','Post Production',
                             'Reconditioning','Regulatory Operations','Wholesale Operations','ADESA','Registration']

In [161]:
location_df = location_df[location_df['JobFamilyGroup'].isin(necessary_JobFamilyGroups)]

In [162]:
# necessary_JobFamilyGroups= location_df['JobFamilyGroup'].unique().tolist()

In [163]:
# Get value counts for 'JobFamilyGroup' in Q4'25 quarter
location_df[location_df['Quarter'] == "Q4'25"]['JobFamilyGroup'].value_counts()

JobFamilyGroup
Market Operations       126
ADESA                    60
Logistics                40
Post Production          36
Reconditioning           35
Registration             26
Wholesale Operations      2
Name: count, dtype: int64

In [164]:
# Compare value counts for each quarter side by side
# This will create a DataFrame with JobFamilyGroup as rows and Quarters as columns
value_counts_df = location_df.groupby(['Quarter', 'JobFamilyGroup']).size().unstack(fill_value=0)
value_counts_df

JobFamilyGroup,ADESA,Logistics,Market Operations,Post Production,Reconditioning,Registration,Regulatory Operations,Wholesale Operations
Quarter,,,,,,,,
Q1'24,95,49,145,19,24,0,44,24
Q1'25,94,49,146,30,33,0,39,14
Q2'24,96,49,152,22,29,0,44,25
Q2'25,94,49,146,30,33,0,39,14
Q3'24,95,47,149,24,31,0,46,23
Q3'25,59,38,103,36,35,17,0,2
Q4'24,94,47,146,25,28,0,39,19
Q4'25,60,40,126,36,35,26,0,2

In [165]:
location_df['JobFamilyGroup'] = np.where(location_df['JobFamilyGroup'].str.contains('Regulatory'), 'Registration', location_df['JobFamilyGroup'])

# Injuries

In [166]:
# Old Logic
# injury_path=("Injuries")

# injury_files= glob.glob(os.path.join(injury_path, "*.csv"))

# injuries_df= glob.glob(injury_path+'\*.csv')
# injuries_df=pd.read_csv("C:/Users/E102068/Desktop/SiteRisk Dashboard/Injuries/injuries_report_Q1'24.csv")

In [167]:
injury_files

["X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Injuries\\injuries_report_Q1'24.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Injuries\\injuries_report_Q1'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Injuries\\injuries_report_Q2'24.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Injuries\\injuries_report_Q3'24.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Injuries\\injuries_report_Q4'24.csv"]

In [168]:
injury_df_main= pd.DataFrame()

# Appending all the csv files into one DataFrame
for file in injury_files:
    df_temp_injury = pd.read_csv(file)


    # Strip leading and trailing spaces from column names
    df_temp_injury.columns = df_temp_injury.columns.str.strip()


    # Add Quarter information
    df_temp_injury['Quarter'] = file.split('_')[-1].split('.')[0]


    # Concatenate to main DataFrame
    injury_df_main = pd.concat([injury_df_main, df_temp_injury], ignore_index=True)

In [169]:
snowflake_pull_df = db_snowflake.execute(
    """
SELECT CLAIM_NUMBER as CASE_NUMBER,
       OCCURRENCE_NUMBER,
       STATUS,
       OCCURRED_DAY,
       C_FIRSTDAYOFMONTHDATE,
       LOCATION_NAME as WORK_LOCATION,
       EMPLOYEE_ID_C as EMPLOYEE_ID,
       TITLE as JOB_PROFILE,
       DEPARTMENT,
       JOB_FAMILY_GROUP,
       JOB_FAMILY,
       BODY_PART as BODYPART2,
       DATE_TRUNC('QUARTER', OCCURRED_DAY) AS DATE_QUARTER,
       CASE
        WHEN DATE_QUARTER = '2025-04-01' THEN 'Q2''25'
        WHEN DATE_QUARTER = '2025-07-01' THEN 'Q3''25'
        WHEN DATE_QUARTER = '2025-10-01' THEN 'Q4''25'
        END as Quarter
FROM CARLEGAL.WC_INJURY.WC_CLAIMS_INPUT
WHERE OCCURRED_DAY >= '2025-04-01' 
AND OCCURRED_DAY<'2026-01-01';

""")

c:\Users\E102068\AppData\Local\Programs\Python\Python311\Lib\site-packages\snowflake\connector\config_manager.py:351: UserWarning: Bad owner or permissions on C:\Users\E102068\.snowflake\connections.toml
  warn(f"Bad owner or permissions on {str(filep)}{chmod_message}")

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://carvana.okta.com/app/snowflake/exkhr8majsTrZPBMF1t7/sso/saml?SAMLRequest=jZLdctowEIVfxaNeY%2FmHBNBgMgZK6ylJnGA6U%2B4UW4DAlhytbEOfvsIOnfQimd5pVudI3%2B7Z8d2pyK2aKeBSBMi1HWQxkcqMi12A1smiN0QWaCoymkvBAnRmgO4mY6BFXpKw0nvxzF4rBtoyDwkg7UWAKiWIpMCBCFowIDolq%2FB%2BSTzbIaWSWqYyR%2B8snzsoAFPaEF4tGXCDt9e6JBg3TWM3vi3VDnuO42BnhI3qIvly1Z9MTx%2FoXez0L3qjMPL4jW3KRTeCz7BeOhGQ70kS9%2BLHVYKs8Io6kwKqgqkVUzVP2fp52QGAIfgRhv2R7%2Fk2CNlsc3pkqSzKSpvHbHPCW5bhXO646TeaB6g88mxwrA7pZjl9HT7%2BGjzNZJx8rW8G9XyxYg%2F738v6NhLn9cth8e0pSpH18xqodwk0AqhYJC4xalNyvNue4%2FVcL%2FEc4g9J37dHg5sNsuYmRi6obp1X1pSqmgpqy6OmLRwtS%2FyXG7PTca%2BGBT1Aojbx9H7h6gEGkPiSKuoWhbQAavKf7Y%2Fxe9Pbqj2Y6UfzWOY8PVsLqQqqPw7Htd22wrPetpUSVlCeh1mmGIAJKc9lM1OMarPRWlUM4Un36787PfkD&RelayState=ver%3A3-hint%3A12085845652729862-ETMsDgAAAZxTk9gHABRBRVMvQ0JDL1BLQ1M1UGFkZGluZwEAABAAEBXdRqu1HanIDMZgBCaXFrMAAACQcituPwp%2BzMS3iEI9QfNk%2BqucvP8oF7LdkgD5kvrnBuNPs9KrUpHryf2kE06%2FtrG71X4bvp081Jy03UEsUrEJXLIRb7EEICKS439gDOU30oHdeewTlvue95dNu7z7ZVrPS8BRJ%2F%2BbRbbCGvO3M%2BN06oTZfA3CFtb8CFo%2BLMg6%2BHZMso0yZJMVyUpFQfGCktTuABT8PYYlmesNNResHmt3KYN4w8BsEA%3D%3D to authenticate...

In [170]:
snowflake_pull_df= snowflake_pull_df.rename(columns={
    'QUARTER': 'Quarter',
    'JOB_FAMILY_GROUP': 'JobFamilyGroup',
    'JOB_PROFILE': 'JobProfile', 
    'JOB_FAMILY': 'JobFamily'})

In [171]:
injury_df_main = pd.concat([injury_df_main, snowflake_pull_df], ignore_index=True)

In [172]:
injury_df_main.groupby('Quarter').size()

Quarter
Q1'24    346
Q1'25    534
Q2'24    398
Q2'25    497
Q3'24    447
Q3'25    557
Q4'24    419
Q4'25    629
dtype: int64

In [173]:
injury_df_main['JobFamilyGroup'].unique()

array([nan, 'RECONDITIONING', 'MARKET_OPERATIONS', 'JOB_FAMILY-3-381',
       'POST_PRODUCTION', 'LOGISTICS', 'ACCOUNTING', 'JOB_FAMILY-3-379',
       'JOB_FAMILY-3-380', 'JOB_FAMILY-3-382', 'JOB_FAMILY-3-383',
       'Operations', 'SAFE_AND_SECURE', 'JOB_FAMILY-3-375', 'INVENTORY',
       'REGULATORY_OPERATIONS', 'Reconditioning', 'Market Operations',
       'Post Production', 'Logistics', 'Reconditioning Services (adesa)',
       'Safe And Secure', 'Operations (adesa)', 'Regulatory Operations',
       'Legal', 'Wholesale Operations', 'Sell To Carvana',
       'Safe And Secure (adesa)', 'Technology Services', 'Verification',
       'Sales (adesa)', 'Customer Service Group (adesa)',
       'Customer Experience', 'Engineering', 'Treasury Operations',
       'People Operations', 'Dealership', 'JOB_FAMILY-3-470',
       'JOB_FAMILY-3-494', 'CUSTOMER_EXPERIENCE', 'WHOLESALE_OPERATIONS',
       'JOB_FAMILY-3-451', 'JOB_FAMILY-3-471', 'JOB_FAMILY-3-500',
       'STC_CUSTOMER_CARE', 'TECHNOLOGY_SERVICES', 'VERIFICATION',
       'Infrastructure_Development', 'Auction', 'Transportation',
       'Photobooth', 'Body Shop', 'Inventory', 'Mechanical',
       'Maintenance', 'Detail', 'Office Operations', 'Titles',
       'Marketplace', None, 'Registration', 'Central Operations (adesa)',
       'Finance (adesa)'], dtype=object)

In [174]:
# Transform the 'JobFamilyGroup' column
injury_df_main['JobFamilyGroup'] = injury_df_main['JobFamilyGroup'].apply(
    lambda x: x.upper().replace(' ', '_') if isinstance(x, str) else x
)

In [175]:
# Pull JobProfile Detail from workday - TABLE EMPLOYEE HISTORY
JobFamily_df = db_snowflake.execute("""
                             
SELECT Distinct JOB_PROFILE,JOB_FAMILY_GROUP 
FROM PEOPLEOPS.ANALYTICS.VW_WORKDAY_EMPLOYEE_LINEAGE
WHERE COMPANY NOT like '%ADESA%'
AND JOB_FAMILY_GROUP NOT like '%ADESA%';

""")

In [176]:
JobFamily_df=JobFamily_df.rename(columns={'JOB_PROFILE':'JobProfile','JOB_FAMILY_GROUP':'JobFamilyGroup'})

JobFamily_df['JobFamilyGroup'] = np.where(JobFamily_df['JobFamilyGroup'].str.contains('Regulatory'), 'Registration', JobFamily_df['JobFamilyGroup'])

JobFamily_df = JobFamily_df.drop_duplicates()

In [177]:
# Merging with Workday Jobfamily to get more accurate information
injury_df_main= pd.merge(injury_df_main,JobFamily_df, how='left', on='JobProfile')

# injury_df_check= pd.merge(injury_df,JobFamily_df, how='left', left_on='JobProfile',right_on='JobProfileName')

In [178]:
distinct_empl= db_snowflake.execute("""

WITH RankedEmployees AS (
    SELECT 
        DATE_DAY, 
        EMPLOYEE_ID, 
        LOCATION,
        ROW_NUMBER() OVER (PARTITION BY EMPLOYEE_ID ORDER BY DATE_DAY DESC) as rn
    FROM 
        PEOPLEOPS.ANALYTICS.VW_WORKDAY_EMPLOYEE_LINEAGE
    WHERE 
        LOCATION IS NOT NULL
)

SELECT  
    EMPLOYEE_ID, 
    LOCATION                   
FROM 
    RankedEmployees
WHERE 
    rn = 1
ORDER BY 
    EMPLOYEE_ID;

""")

In [179]:
distinct_empl['EMPLOYEE_ID'] = distinct_empl['EMPLOYEE_ID'].astype(int)
injury_df_main['EMPLOYEE_ID'] = injury_df_main['EMPLOYEE_ID'].fillna(0).astype(int)

In [180]:
injury_df_main=pd.merge(injury_df_main,distinct_empl,on='EMPLOYEE_ID',how='left')

In [181]:
injury_df_main['WORK_LOCATION']= np.where(injury_df_main['LOCATION'].isna(),injury_df_main['WORK_LOCATION'],injury_df_main['LOCATION'])

In [182]:
print(necessary_JobFamilyGroups)
print(injury_df_main['JobFamilyGroup_x'].unique())

['Logistics', 'Market Operations', 'Post Production', 'Reconditioning', 'Regulatory Operations', 'Wholesale Operations', 'ADESA', 'Registration']
[nan 'RECONDITIONING' 'MARKET_OPERATIONS' 'JOB_FAMILY-3-381'
 'POST_PRODUCTION' 'LOGISTICS' 'ACCOUNTING' 'JOB_FAMILY-3-379'
 'JOB_FAMILY-3-380' 'JOB_FAMILY-3-382' 'JOB_FAMILY-3-383' 'OPERATIONS'
 'SAFE_AND_SECURE' 'JOB_FAMILY-3-375' 'INVENTORY' 'REGULATORY_OPERATIONS'
 'RECONDITIONING_SERVICES_(ADESA)' 'OPERATIONS_(ADESA)' 'LEGAL'
 'WHOLESALE_OPERATIONS' 'SELL_TO_CARVANA' 'SAFE_AND_SECURE_(ADESA)'
 'TECHNOLOGY_SERVICES' 'VERIFICATION' 'SALES_(ADESA)'
 'CUSTOMER_SERVICE_GROUP_(ADESA)' 'CUSTOMER_EXPERIENCE' 'ENGINEERING'
 'TREASURY_OPERATIONS' 'PEOPLE_OPERATIONS' 'DEALERSHIP' 'JOB_FAMILY-3-470'
 'JOB_FAMILY-3-494' 'JOB_FAMILY-3-451' 'JOB_FAMILY-3-471'
 'JOB_FAMILY-3-500' 'STC_CUSTOMER_CARE' 'INFRASTRUCTURE_DEVELOPMENT'
 'AUCTION' 'TRANSPORTATION' 'PHOTOBOOTH' 'BODY_SHOP' 'MECHANICAL'
 'MAINTENANCE' 'DETAIL' 'OFFICE_OPERATIONS' 'TITLES' 'MARKETPLACE' None
 'REGISTRATION' 'CENTRAL_OPERATIONS_(ADESA)' 'FINANCE_(ADESA)']

In [183]:
# Renaming the column
injury_df_main=injury_df_main.rename(columns={'JobFamilyGroup_y':'JobFamilyGroup'})

In [184]:

# Wherever their are NA then pointing it to Company
injury_df_main['JobFamilyGroup'] = np.where(injury_df_main['JobFamilyGroup'].isna(),injury_df_main['JobFamilyGroup_x'],injury_df_main['JobFamilyGroup'])

In [185]:
injury_df_main['JobFamilyGroup'].unique()

array([nan, 'Reconditioning', 'Market Operations', 'JOB_FAMILY-3-381',
       'Post Production', 'Logistics', 'ACCOUNTING', 'JOB_FAMILY-3-379',
       'JOB_FAMILY-3-380', 'JOB_FAMILY-3-382', 'JOB_FAMILY-3-383',
       'OPERATIONS', 'SAFE_AND_SECURE', 'JOB_FAMILY-3-375',
       'Registration', 'Titles', 'Inventory', 'Safe and Secure',
       'RECONDITIONING', 'MARKET_OPERATIONS', 'POST_PRODUCTION',
       'RECONDITIONING_SERVICES_(ADESA)', 'LOGISTICS',
       'OPERATIONS_(ADESA)', 'REGULATORY_OPERATIONS', 'Legal',
       'Wholesale Operations', 'SELL_TO_CARVANA', 'WHOLESALE_OPERATIONS',
       'SAFE_AND_SECURE_(ADESA)', 'TECHNOLOGY_SERVICES', 'Verification',
       'SALES_(ADESA)', 'CUSTOMER_SERVICE_GROUP_(ADESA)', 'VERIFICATION',
       'CUSTOMER_EXPERIENCE', 'ENGINEERING', 'TREASURY_OPERATIONS',
       'People Operations', 'Dealership', 'JOB_FAMILY-3-470',
       'JOB_FAMILY-3-494', 'Customer Experience', 'JOB_FAMILY-3-451',
       'JOB_FAMILY-3-471', 'JOB_FAMILY-3-500', 'Sell to Carvana',
       'Technology Services', 'Infrastructure Development', 'AUCTION',
       'TRANSPORTATION', 'BODY_SHOP', 'INVENTORY', 'MECHANICAL',
       'MAINTENANCE', 'DETAIL', 'OFFICE_OPERATIONS', 'Marketplace', None,
       'Treasury Operations', 'CENTRAL_OPERATIONS_(ADESA)',
       'Customer Service Group', 'FINANCE_(ADESA)'], dtype=object)

In [186]:
print(necessary_JobFamilyGroups)

['Logistics', 'Market Operations', 'Post Production', 'Reconditioning', 'Regulatory Operations', 'Wholesale Operations', 'ADESA', 'Registration']

In [187]:
# Define the conditions for JobRole
conditions = [
    injury_df_main['JobFamilyGroup'].str.contains('ADESA|adesa', regex=True, na=False),
    injury_df_main['JobFamilyGroup'].str.contains('RECONDITIONING|Inventory', regex=True, na=False),
    injury_df_main['JobFamilyGroup'].str.contains('WHOLESALE_OPERATIONS', regex=True, na=False),
    injury_df_main['JobFamilyGroup'].str.contains('POST_PRODUCTION', regex=True, na=False),
    injury_df_main['JobFamilyGroup'].str.contains('REGULATORY_OPERATIONS|Registration', regex=True, na=False),
    injury_df_main['JobFamilyGroup'].str.contains('LOGISTICS|TRANSPORTATION', regex=True, na=False),
    injury_df_main['JobFamilyGroup'].str.contains('MARKET_OPERATIONS', regex=True, na=False),
]


# Define the corresponding JobRole values
# values = ['ADESA','Reconditioning','Wholesale Operations','Post Production','Regulatory Operations','Logistics','Market Operations']
values = ['ADESA','Reconditioning','Wholesale Operations','Post Production','Registration','Logistics','Market Operations']


# Use np.select to create the JobRole column based on the conditions and values
injury_df_main['JobFamilyGroup'] = np.select(conditions, values, injury_df_main['JobFamilyGroup'])

In [188]:

injury_df_main['JobFamilyGroup'] = np.where(injury_df_main['JobFamilyGroup'].isna(),injury_df_main['COMPANY'],injury_df_main['JobFamilyGroup'])


# Renaming Col
injury_df_snowflake= injury_df_main.rename(columns={'WORK_LOCATION':'Location','BODYPART2':'Injuries'})

### Snowflake - Injury

In [189]:
injury_df_snowflake = injury_df_snowflake[['Injuries','Location','JobFamilyGroup','JobProfile','Quarter','COMPANY','STATUS','CASE_NUMBER']]

In [190]:
injury_df_snowflake.head()

,Injuries,Location,JobFamilyGroup,JobProfile,Quarter,COMPANY,STATUS,CASE_NUMBER
0,Back,ADESA Riverside,ADESA,NaN,Q1'24,ADESA,submitted,ADESA-7740
1,Back,Salt Lake,ADESA,NaN,Q1'24,ADESA,completed,ADESA-7708
2,"['Shoulder(s)', 'Ankle']",Los Angeles,ADESA,NaN,Q1'24,ADESA,completed,ADESA-7668
3,Knee,ADESA Cincinnati,ADESA,NaN,Q1'24,ADESA,completed,ADESA-7719
4,Finger(s),"Belton, MO",ADESA,NaN,Q1'24,ADESA,completed,ADESA-7530

In [191]:
injury_df_snowflake.groupby('Quarter').size()

Quarter
Q1'24    348
Q1'25    534
Q2'24    398
Q2'25    497
Q3'24    447
Q3'25    557
Q4'24    419
Q4'25    633
dtype: int64

In [192]:
# # Uncomment when you want to run the script again
# Write into Snowflake
db_snowflake_write.insert('injuries',injury_df_snowflake,truncate=True)

c:\Users\E102068\AppData\Local\Programs\Python\Python311\Lib\site-packages\snowflake\connector\config_manager.py:351: UserWarning: Bad owner or permissions on C:\Users\E102068\.snowflake\connections.toml
  warn(f"Bad owner or permissions on {str(filep)}{chmod_message}")

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://carvana.okta.com/app/snowflake/exkhr8majsTrZPBMF1t7/sso/saml?SAMLRequest=jZJBb%2BIwEIX%2FSuQ9EzsBSrEIVQhFRS0tgtCqvZnEBJfEznocQv%2F9mqSsuodWe7PG79nfzJvRzanInSPXIJQMkOcS5HCZqFTILECbeNa5Rg4YJlOWK8kD9MEB3YxHwIq8pGFl9nLFf1ccjGMfkkCbiwBVWlLFQACVrOBATULX4eKB%2Bi6hpVZGJSpHXyw%2FOxgA18YSXiwpCIu3N6akGNd17dZdV%2BkM%2B4QQTIbYqs6SXxf9yfb0jd7DpHfWW4WVLz%2FZJkK2I%2FgJa9uKgN7F8bKzfFrHyAkvqJGSUBVcr7k%2BioRvVg8tAFiC%2BzDsDbt%2B1wWp6l3ODjxRRVkZ%2B5hrT3jHU5yrTNh%2B59MAlQeRZttwc%2Bt5h8f0WWXHfhTNU4%2F3xeR2dU9enl4jefdC3oeLeLDNEuQ8XwL1z4HOASo%2Bl%2BcYjS0R%2F6pD%2FI7nxz6hPUKJ7%2FYHvTfkTG2MQjLTOC%2BsCdNHJpmrDoY1cKws8V9uzE%2BHvb4u2DvE%2Bm05Wcw8M8AACp9TRe2i0AZAj%2F%2Bz%2FRH%2BavpctUc7%2Ffl0qXKRfDgzpQtmvg%2FHc72mItLOrpFSXjCRh2mqOYANKc9VHWnOjN1ooyuO8Lj99d%2BdHv8B&RelayState=ver%3A3-hint%3A12085845652729862-ETMsDgAAAZxTlQsNABRBRVMvQ0JDL1BLQ1M1UGFkZGluZwEAABAAEDO0xAPZ8rKS3vIdX9UGSGAAAACQUbYKICq8HWk%2BAosT42aoSxPUQgkIVIOJnVP3DVNhQt%2F05UvXwIESEZUGVqnkwxz6ep8cJ39CQvmJDW61j55UOMeFL2HyBvGT36y52ypEvfsVc39qWi4UGtbK4RiH7HSt6DHmWD9WkjHABKpzUz7TYYKp5eA919fPhz%2FD0w4s4pj19cQ5828Dh3bEg74EBJbVABQ5yq5S4hsICIo2l1vFbLL%2FVTyo4Q%3D%3D to authenticate...

Uploading data chunk num: 1: 100%|| 3833/3833 [00:05<00:00, 743.34it/s]

True

In [193]:
# # Drop the existing table

# db_snowflake_write.drop_table('Injuries')

In [194]:
# # Table Creation

# db_snowflake_write.create_table('Injuries',
#                   {
#                      'Injuries': ['VARCHAR(100)'], 
#                      'Location': ['VARCHAR(100)'], 
#                      'JobFamilyGroup': ['VARCHAR(100)'], 
#                      'JobProfile': ['VARCHAR(100)'],
#                      'Quarter': ['VARCHAR(1000)'],
#                      'Company': ['VARCHAR(100)'], 
#                      'STATUS': ['VARCHAR(100)'],
#                      'CASE_NUMBER': ['VARCHAR(100)']
#                   })

### Injury df

In [195]:
# Filtering Only for necessary_JobFamilyGroups
injury_df= injury_df_snowflake[injury_df_snowflake['JobFamilyGroup'].isin(necessary_JobFamilyGroups)]

In [196]:
injury_df['JobFamilyGroup'].unique()

array(['ADESA', 'Reconditioning', 'Market Operations', 'Post Production',
       'Logistics', 'Registration', 'Wholesale Operations'], dtype=object)

In [197]:
# Counting the number of injuries at the Location-Org Combination
injury_df = injury_df.groupby(['Location','JobFamilyGroup','Quarter']).agg('count').reset_index()

# Final Injury df
injury_df = injury_df[['Location', 'JobFamilyGroup','Quarter','Injuries']]

## Main Dataframe

In [198]:
# Merging for Specific CostCentre
main_df= pd.merge(location_df,injury_df, how='outer', on=['Location','JobFamilyGroup','Quarter'])

# Performance PIPs/CARs

In [199]:
# Performance for Last Quater
performance_sql_df = pd.read_sql_query(f"""

WITH cte AS (
Select * FROM PeopleOps.workday.FactEmployeeReviews
WHERE 
--DateInitiated >= DATEADD(QUARTER, DATEDIFF(QUARTER, 0, '') - 1, 0)
--AND DateInitiated < DATEADD(QUARTER, DATEDIFF(QUARTER, 0, ''), 0) 
--AND Status in ('In Progress','Successfully Completed','Rescinded') 
ReviewCategory in ('Corrective Action','Performance Improvement Plan')
AND DateInitiated>='2024-01-01'
AND DateInitiated < DATEADD(QUARTER, DATEDIFF(QUARTER, 0, GETDATE()), 0))

SELECT c.EmployeeId,c.ReviewCategory,c.ReviewReason,c.ResultingActionRating,c.DateInitiated,c.Status,
eh.StartDateTime,eh.EndDateTime,eh.JobFamilyGroup,eh.Company,eh.Location,
CONCAT('Q', DATEPART(quarter,c.DateInitiated ), '''', RIGHT(DATEPART(year, c.DateInitiated), 2)) as Quarter   
FROM cte c left join PeopleOps.workday.tblEmployeeHistory eh ON c.EmployeeId=eh.EmployeeId
WHERE c.DateInitiated between eh.StartDateTime and eh.EndDateTime
ORDER BY c.DateInitiated

""",odbcconn)

C:\Users\E102068\AppData\Local\Temp\ipykernel_16040\4015103443.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  performance_sql_df = pd.read_sql_query(f"""

In [200]:
## Snowflake Pull for Performance Data

performance_snowflake_base_df = db_snowflake.execute("""
                                                     
with cte as (
SELECT *
FROM PEOPLEOPS.WORKDAY.VW_EMPLOYEE_REVIEWS
WHERE REVIEW_CATEGORY IN ('Corrective Action' ,'Performance Improvement Plan')
AND DATE_INITIATED::DATE>='2024-01-01'
AND DATE_INITIATED::DATE <= LAST_DAY(DATEADD(quarter, -1, DATE_TRUNC(quarter, CURRENT_DATE)),'quarter')
)

SELECT c.EMPLOYEE_ID
,c.REVIEW_CATEGORY
,c.REVIEW_REASON
,c.RESULTING_ACTION_RATING
,c.DATE_INITIATED
,c.STATUS
,eh.START_TIME
,eh.END_TIME
,eh.JOB_FAMILY_GROUP
,eh.COMPANY
,eh.LOCATION_NAME AS LOCATION
,CONCAT('Q',DATE_PART('QUARTER',c.DATE_INITIATED),'''',RIGHT(DATE_PART('YEAR',C.DATE_INITIATED),2)) AS QUARTER
FROM CTE c
LEFT JOIN PEOPLEOPS.WORKDAY.VW_DIM_EMPLOYEE_HISTORY eh 
ON c.EMPLOYEE_ID = eh.EMPLOYEE_ID
WHERE c.DATE_INITIATED BETWEEN eh.START_TIME AND eh.END_TIME
ORDER BY C.DATE_INITIATED;
                                                     
""")

In [201]:
date_today

Timestamp('2026-02-12 00:00:00')

### In progress performance

In [202]:
# Inprogress List with ToDO step COmpleted 

performance_inprogress_sql_df= pd.read_sql_query(f"""

SELECT EmployeeId, Manager, ReviewTemplate, ProcessStatus as Status, ProcessInitiationDate as DateInitiated,
Step,StepStatus,StepCompletedOn,StepCompletedBy 
FROM PeopleOps.workday.FactEmployeeReviewProcess
WHERE 
--ProcessInitiationDate >= DATEADD(QUARTER, DATEDIFF(QUARTER, 0, '{date_today}') - 1, 0)
ProcessInitiationDate < DATEADD(QUARTER, DATEDIFF(QUARTER, 0, '{date_today}'), 0)
AND ProcessInitiationDate>='2024-01-01'
AND Step like '%To Do%' 
AND StepStatus = 'Step Completed'
AND ProcessStatus ='In Progress'
ORDER BY EmployeeId

""",odbcconn)

C:\Users\E102068\AppData\Local\Temp\ipykernel_16040\3250169802.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  performance_inprogress_sql_df= pd.read_sql_query(f"""

In [203]:
performance_inprogress_snowflake_base_df = db_snowflake.execute(f"""
SELECT EMPLOYEE_ID
,MANAGER
,REVIEW_TEMPLATE
,PROCESS_STATUS as STATUS
,PROCESS_INITIATION_DATE as DATE_INITIATED
,STEP
,STEP_STATUS
,STEP_COMPLETED_ON
,STEP_COMPLETED_BY
FROM PEOPLEOPS.WORKDAY.VW_EMPLOYEE_REVIEW_PROCESS
WHERE PROCESS_INITIATION_DATE  >='2024-01-01'
AND PROCESS_INITIATION_DATE <= LAST_DAY(DATEADD(quarter, -1, DATE_TRUNC(quarter, CURRENT_DATE)),'quarter')
AND STEP LIKE '%To Do%'
AND STEP_STATUS ='Step Completed'
AND PROCESS_STATUS = 'In Progress'
ORDER BY PROCESS_INITIATION_DATE desc;
""")

In [204]:
# performance_sql_df.value_counts('Status')

In [205]:
performance_snowflake_base_df[performance_snowflake_base_df['QUARTER']=="Q4'25"].value_counts('STATUS')

STATUS
Successfully Completed    7390
Canceled                   950
In Progress                913
Rescinded                    7
Name: count, dtype: int64

In [206]:
# Creating Keys to check if the value exist in inprogess df (can be done using merge)

# performance_sql_df['key']=performance_sql_df['EmployeeId'].astype(str)+performance_sql_df['Status'].astype(str)\
#     +performance_sql_df['DateInitiated'].astype(str)
# performance_inprogress_sql_df['key']=performance_inprogress_sql_df['EmployeeId'].astype(str)+performance_inprogress_sql_df['Status'].astype(str)\
#     +performance_inprogress_sql_df['DateInitiated'].astype(str)

# # Finding rows that exist in inprogress and updating their status
# performance_sql_df.loc[performance_sql_df['key'].isin(performance_inprogress_sql_df['key']), 'Status'] = 'Successfully Completed'


performance_snowflake_base_df['key']=performance_snowflake_base_df['EMPLOYEE_ID'].astype(str)+performance_snowflake_base_df['STATUS'].astype(str)\
    +performance_snowflake_base_df['DATE_INITIATED'].astype(str)
performance_inprogress_snowflake_base_df['key']=performance_inprogress_snowflake_base_df['EMPLOYEE_ID'].astype(str)+performance_inprogress_snowflake_base_df['STATUS'].astype(str)\
    +performance_inprogress_snowflake_base_df['DATE_INITIATED'].astype(str)

# Finding rows that exist in inprogress and updating their status
performance_snowflake_base_df.loc[performance_snowflake_base_df['key'].isin(performance_inprogress_snowflake_base_df['key']), 'STATUS'] = 'Successfully Completed'

In [207]:
# drop the key column
performance_snowflake_base_df = performance_snowflake_base_df.drop(columns=['key'])
performance_inprogress_snowflake_base_df = performance_inprogress_snowflake_base_df.drop(columns=['key'])

In [208]:
performance_snowflake_base_df.value_counts('STATUS')

STATUS
Successfully Completed    48197
Canceled                   5940
In Progress                 329
Rescinded                    89
Name: count, dtype: int64

### ADESA PIPs/CARs

In [209]:
# Converting Job Families in company ADESA as ADESA 
# performance_sql_df['JobFamilyGroup'] = np.where(performance_sql_df['Company'].str.contains('ADESA'),"ADESA",performance_sql_df['JobFamilyGroup'])

performance_snowflake_base_df['JOB_FAMILY_GROUP'] = np.where(performance_snowflake_base_df['COMPANY'].str.contains('ADESA'),"ADESA",performance_snowflake_base_df['JOB_FAMILY_GROUP'])

In [210]:
# Neccessary Job Family Group
# Filtering for siterisk costcentres
performance_snowflake_base_df=performance_snowflake_base_df[performance_snowflake_base_df['JOB_FAMILY_GROUP'].isin(necessary_JobFamilyGroups)]

In [211]:
performance_snowflake_base_df.value_counts('STATUS')

STATUS
Successfully Completed    46081
Canceled                   5509
In Progress                 319
Rescinded                    82
Name: count, dtype: int64

### Snowflake - Performance

In [212]:
performance_snowflake_df = performance_snowflake_base_df.copy()

In [213]:
performance_snowflake_df.head()

,EMPLOYEE_ID,REVIEW_CATEGORY,REVIEW_REASON,RESULTING_ACTION_RATING,DATE_INITIATED,STATUS,START_TIME,END_TIME,JOB_FAMILY_GROUP,COMPANY,LOCATION,QUARTER
0,94657,Corrective Action,Attendance (United States of America),Verbal Warning,2024-01-02 03:18:05.688,Successfully Completed,2023-11-20 05:26:08,2024-04-17 20:42:00,Reconditioning,"Carvana, LLC",GA Winder IC,Q1'24
1,97414,Corrective Action,Attendance (United States of America),Termination,2024-01-02 03:23:37.656,Successfully Completed,2023-11-28 06:15:40,2024-01-03 09:33:29,Reconditioning,"Carvana, LLC",NC Concord IC,Q1'24
2,99322,Corrective Action,Attendance (United States of America),Termination,2024-01-02 05:02:06.346,Successfully Completed,2023-12-25 08:24:42,2024-01-11 10:34:55,Logistics,"Carvana Logistics, LLC",NJ Delanco IC,Q1'24
3,32950,Corrective Action,Attendance (United States of America),Written Warning,2024-01-02 05:07:18.574,Successfully Completed,2023-05-31 04:26:15,2024-04-16 20:37:19,Logistics,"Carvana Logistics, LLC",AL Bessemer IC,Q1'24
4,97493,Corrective Action,Attendance (United States of America),Written Warning,2024-01-02 05:19:05.466,Canceled,2023-10-23 02:58:50,2024-01-04 09:54:32,ADESA,ADESA US Auction LLC,FL Orlando - Sanford,Q1'24

In [214]:
performance_snowflake_df.groupby('QUARTER').size()

QUARTER
Q1'24    3997
Q1'25    6922
Q2'24    4752
Q2'25    7401
Q3'24    5317
Q3'25    9240
Q4'24    5498
Q4'25    8864
dtype: int64

In [215]:
performance_snowflake_df.describe()

,DATE_INITIATED,START_TIME,END_TIME
count,51991,51991,51991
mean,2025-02-25 03:37:45.142855680,2025-01-19 17:12:25.627550720,2025-03-21 22:34:41.893789440
min,2024-01-02 03:18:05.688000,2021-09-13 22:06:15,2024-01-02 09:23:25
25%,2024-09-12 10:44:08.943000064,2024-09-08 11:29:35,2024-09-17 12:29:05
50%,2025-03-25 10:42:41.811000064,2025-03-14 07:18:47,2025-03-26 16:38:44
75%,2025-08-22 12:18:27.651500032,2025-07-29 07:13:09,2025-09-14 00:14:14
max,2025-12-31 17:43:44.032000,2025-12-30 07:16:38,2026-02-11 07:13:47

In [216]:
performance_snowflake_df['JOB_FAMILY_GROUP'] = np.where(performance_snowflake_df['JOB_FAMILY_GROUP'].str.contains('Regulatory'), 'Registration', performance_snowflake_df['JOB_FAMILY_GROUP'])

In [217]:
# Uncomment when you need to run it again
# Write into Snowflake
# db_snowflake_write.drop_table('Performance')
# db_snowflake_write.dump('Performance',performance_snowflake_df)
db_snowflake_write.insert('Performance',performance_snowflake_df,truncate=True)

Uploading data chunk num: 1: 100%|| 51991/51991 [00:01<00:00, 28100.10it/s]

True

In [218]:
# # Drop the existing table

# db_snowflake_write.drop_table('Performance')

In [219]:
# # Performance Table Creation

# db_snowflake_write.create_table('Performance',
#                   {
#                      'EmployeeId': ['INT','NOT NULL'],
#                      'ReviewCategory': ['VARCHAR(1000)'], 
#                      'ReviewReason': ['VARCHAR(1000)'], 
#                      'ResultingActionRating': ['VARCHAR(1000)'],
#                      'Status':['VARCHAR(1000)'],
#                      'DateInitiated': ['TIMESTAMP_NTZ(9)'], 
#                      'StartDateTime': ['TIMESTAMP_NTZ(9)'],
#                      'EndDateTime' : ['TIMESTAMP_NTZ(9)'],
#                      'JobFamilyGroup': ['VARCHAR(1000)'],
#                      'Company': ['VARCHAR(1000)'],
#                      'Location': ['VARCHAR(1000)'],
#                      'Quarter': ['VARCHAR(1000)']
#                   })

### Performance Df

In [220]:
performance_df= db_snowflake.execute("""

SELECT * FROM PEOPLEOPS_SANDBOX.SITERISK.PERFORMANCE

""")

In [221]:
# Filtering only for Successfully completed
performance_df=performance_df[performance_df['STATUS']=='Successfully Completed']

In [222]:
performance_df.value_counts('STATUS')

STATUS
Successfully Completed    46081
Name: count, dtype: int64

In [223]:
performance_df['QUARTER'].unique()

array(["Q1'24", "Q2'24", "Q3'24", "Q4'24", "Q1'25", "Q2'25", "Q3'25",
       "Q4'25"], dtype=object)

In [224]:
# Selecting neccesary columns
# performance_df= performance_df.iloc[:,[0,1,-4,-2,-1]]
performance_df= performance_df[['EMPLOYEE_ID','LOCATION','JOB_FAMILY_GROUP','QUARTER','REVIEW_CATEGORY']]

In [225]:
# Count the number of PIPs/Cars and Unique Employees
performance_df= performance_df.groupby(['LOCATION','JOB_FAMILY_GROUP','QUARTER','REVIEW_CATEGORY']).\
                                agg(Total_Count=('EMPLOYEE_ID','count'),EmployeesPIPs_CARs=('EMPLOYEE_ID','nunique')).reset_index()

In [226]:
performance_df['Total_Count'].sum()

46081

In [227]:
# Pivot to divide the PIPs/CARs
performance_df= performance_df.pivot(index=['LOCATION','JOB_FAMILY_GROUP','QUARTER','EmployeesPIPs_CARs'],\
                                     columns=['REVIEW_CATEGORY'],values='Total_Count').reset_index()

In [228]:
# Total sum of all
performance_df= performance_df.groupby(['LOCATION','JOB_FAMILY_GROUP','QUARTER']).agg('sum').reset_index()

## Overall PIPs/CARs

In [229]:
# Filling all NA with 0 for addition
performance_df=performance_df.fillna(0)

# Sum of ALL PIPs/CARs
performance_df['PIPs & CARs']=performance_df['Performance Improvement Plan']\
                                    +performance_df['Corrective Action']

# Rename
performance_df=performance_df.rename(columns={'Performance Improvement Plan':'PIPs',\
                                              'Corrective Action':'CARs'})

In [230]:
performance_df['PIPs & CARs'].sum()

46081.0

In [231]:
#Rename Colmns
performance_df=performance_df.rename(columns={'LOCATION':'Location','JOB_FAMILY_GROUP':'JobFamilyGroup','QUARTER':'Quarter'})

In [232]:
performance_df['JobFamilyGroup'].unique()

array(['Logistics', 'Market Operations', 'Post Production',
       'Reconditioning', 'Registration', 'ADESA', 'Wholesale Operations'],
      dtype=object)

## Merge-Main Df

In [233]:
main_df=pd.merge(main_df,performance_df,on=['Location','Quarter','JobFamilyGroup'],how='outer')

In [234]:
main_df.head()

,Location,JobFamilyGroup,Participants,Employee_Size_Checkpoint,Score,Quarter,Injuries,EmployeesPIPs_CARs,CARs,PIPs,PIPs & CARs
0,11625 nino way mira loma ca 91752,ADESA,NaN,NaN,NaN,Q3'24,1.0,NaN,NaN,NaN,NaN
1,ADESA,ADESA,NaN,NaN,NaN,Q2'24,1.0,NaN,NaN,NaN,NaN
2,ADESA Cincinnati,ADESA,NaN,NaN,NaN,Q1'24,1.0,NaN,NaN,NaN,NaN
3,ADESA Riverside,ADESA,NaN,NaN,NaN,Q1'24,1.0,NaN,NaN,NaN,NaN
4,AL Bessemer IC,Logistics,None,None,71.0,Q1'24,NaN,25.0,38.0,0.0,38.0

# Turnover/Attrition

Update the Quater based on when you are running****

In [235]:
## Update the Quater based on when you are running****

turnover_sql_terms= db_snowflake_write.execute(f"""

SELECT 
    DATE_DAY as TerminationDate,
    EMPLOYEE_ID,
    EMPLOYEE_NAME as NAME,
    CASE
    WHEN JOB_FAMILY_GROUP like '%ADESA%' THEN 'ADESA'
    ELSE JOB_FAMILY_GROUP
    END as JOB_FAMILY_GROUP, 
    LOCATION, 
    CASE
        WHEN DATE_QUARTER = '2024-01-01' THEN 'Q1''24'
        WHEN DATE_QUARTER = '2024-04-01' THEN 'Q2''24'
        WHEN DATE_QUARTER = '2024-07-01' THEN 'Q3''24'
        WHEN DATE_QUARTER = '2024-10-01' THEN 'Q4''24'
        WHEN DATE_QUARTER = '2025-01-01' THEN 'Q1''25'
        WHEN DATE_QUARTER = '2025-04-01' THEN 'Q2''25'                                              
        WHEN DATE_QUARTER = '2025-07-01' THEN 'Q3''25'                                    
        WHEN DATE_QUARTER = '2025-10-01' THEN 'Q4''25'                                            
    END AS Quarter,
FROM 
    PEOPLEOPS.ANALYTICS.VW_WORKDAY_EMPLOYEE_LINEAGE
WHERE 
    DATA_TYPE = 'TERMINATED'
    AND EMPLOYEE_TYPE='Regular'
    AND DATE_DAY>='2024-01-01'
ORDER BY 
    DATE_DAY

""")

In [236]:
turnover_sql_terms['JOB_FAMILY_GROUP'].unique()

array(['Post Production', 'Reconditioning Services', 'Reconditioning',
       'Safe and Secure', 'Market Operations', 'Regulatory Operations',
       'Operations', 'Logistics', 'Verification', 'Transportation',
       'People Operations', 'Product Management', 'Finance',
       'Customer Service Group', 'Wholesale Operations', None,
       'Engineering', 'Accounting', 'Sales', 'Customer Experience',
       'Sell to Carvana', 'Analytics', 'Facility Services', 'Block Clerk',
       'Technology Services', 'Legal', 'Inventory', 'ADESA', 'Auctioneer',
       'Treasury Operations', 'Infrastructure Development', 'Brand',
       'Special Projects', 'Titles', 'Marketplace', 'Dealership',
       'Registration'], dtype=object)

In [237]:
turnover_sql_terms['JOB_FAMILY_GROUP'] = np.where(turnover_sql_terms['JOB_FAMILY_GROUP'].str.contains('Regulatory'), 'Registration', turnover_sql_terms['JOB_FAMILY_GROUP'])

In [238]:
# Converting to Date
turnover_sql_terms['TERMINATIONDATE']=pd.to_datetime(turnover_sql_terms['TERMINATIONDATE'])

# Neccesary JobFamilyGroups
turnover_sql_terms=turnover_sql_terms[turnover_sql_terms['JOB_FAMILY_GROUP'].isin(necessary_JobFamilyGroups) & turnover_sql_terms['QUARTER'].notna()]

# # Adding Quarter based on Date column
# turnover_sql_terms['Quarter'] = turnover_sql_terms['TerminationDate'].dt.to_period("Q")
# turnover_sql_terms['Quarter'] = turnover_sql_terms['Quarter'].apply(lambda q: f"{q.strftime('Q%q')}'{str(q.year)[2:]}")

### Snowflake - Terminated Emp

In [239]:
#Create Table
# db_snowflake_write.create_table('TermEmployee',
#                   {
#                      'EmployeeId': ['INT','NOT NULL'],
#                      'Name': ['VARCHAR(1000)'], 
#                      'JobFamilyGroup': ['VARCHAR(1000)'], 
#                      'Location': ['VARCHAR(1000)'],
#                      'TerminationDate': ['TIMESTAMP_NTZ(9)'], 
#                      'Quarter': ['VARCHAR(1000)']
#                   })

In [240]:
# db_snowflake_write.drop_table('TermEmployee')

In [241]:
print(turnover_sql_terms.shape)
turnover_sql_terms.head()

(24260, 6)

,TERMINATIONDATE,EMPLOYEE_ID,NAME,JOB_FAMILY_GROUP,LOCATION,QUARTER
0,2024-01-02,31772,Emily Cadwell,Post Production,GA Winder IC,Q1'24
2,2024-01-02,93983,Romeo Simmons bryant,Reconditioning,CA Rocklin IC,Q1'24
3,2024-01-02,97922,Quan Stinnie,Reconditioning,VA Chesterfield IC,Q1'24
4,2024-01-02,98237,Jacob Parsley,Reconditioning,OH Trenton IC,Q1'24
5,2024-01-02,97685,Razeale Smith,Reconditioning,NC Concord IC,Q1'24

In [242]:
turnover_sql_terms.groupby('QUARTER').size()

QUARTER
Q1'24    1677
Q1'25    3170
Q2'24    2068
Q2'25    3272
Q3'24    2755
Q3'25    4426
Q4'24    2565
Q4'25    4327
dtype: int64

**RUN THIS WRITE CAREFULLY

In [243]:
#Insert Data

db_snowflake_write.insert('TermEmployee',turnover_sql_terms,truncate=True)

Uploading data chunk num: 1: 100%|| 24260/24260 [00:01<00:00, 18491.13it/s]

True

### Location/JobFamilyGroup Calculation

#### Active Emp Calculation

In [244]:
active_df=db_snowflake.execute("""

--SELECT * FROM PEOPLEOPS_SANDBOX.SITERISK.ACTIVE_EMPLOYEES
                                 

SELECT
    DATE_DAY as DATE,
    CASE
    WHEN JOB_FAMILY_GROUP like '%ADESA%' THEN 'ADESA'
    WHEN JOB_FAMILY_GROUP like '%Regulatory%' THEN 'Registration'
    ELSE JOB_FAMILY_GROUP
    END as JOB_FAMILY_GROUP,
    CASE
        WHEN DATE_QUARTER = '2024-01-01' THEN 'Q1''24'
        WHEN DATE_QUARTER = '2024-04-01' THEN 'Q2''24'
        WHEN DATE_QUARTER = '2024-07-01' THEN 'Q3''24'
        WHEN DATE_QUARTER = '2024-10-01' THEN 'Q4''24'
        WHEN DATE_QUARTER = '2025-01-01' THEN 'Q1''25'
        WHEN DATE_QUARTER = '2025-04-01' THEN 'Q2''25'
        WHEN DATE_QUARTER = '2025-07-01' THEN 'Q3''25'
        WHEN DATE_QUARTER = '2025-10-01' THEN 'Q4''25'                               
    END AS Quarter,
    LOCATION,
    COUNT(*) as Active_employees
FROM 
    PEOPLEOPS.ANALYTICS.VW_WORKDAY_EMPLOYEE_LINEAGE
WHERE 
    DATA_TYPE in('ACTIVE','ON LEAVE')
    AND EMPLOYEE_TYPE='Regular'
    AND DATE_DAY>='2024-01-01'
GROUP BY DATE_DAY,LOCATION,DATE_QUARTER,
CASE
    WHEN JOB_FAMILY_GROUP like '%ADESA%' THEN 'ADESA'
    WHEN JOB_FAMILY_GROUP like '%Regulatory%' THEN 'Registration'
    ELSE JOB_FAMILY_GROUP END
ORDER BY DATE_DAY,JOB_FAMILY_GROUP,LOCATION,Active_employees;

""")

In [245]:
# active_df['JOB_FAMILY_GROUP'] = np.where(active_df['JOB_FAMILY_GROUP'].str.contains('Regulatory'), 'Registration', active_df['JOB_FAMILY_GROUP'])

In [246]:
active_df=active_df[active_df['JOB_FAMILY_GROUP'].isin(necessary_JobFamilyGroups) & active_df['QUARTER'].notna()]

In [247]:
# # Count the number of active employees on each day
# active_df= active_emps.groupby(['DATE','JOB_FAMILY_GROUP','LOCATION','QUARTER'])\
#     .agg(employees=('EMPLOYEE_ID','count')).reset_index()

# # Adding WeekNumber for based on Date column
# active_df['WeekNumber']=active_df['Date'].dt.isocalendar().week # Add this for weekly turnover

# # # Adding Quarter based on Date column
# # active_df['Quarter'] = active_df['Date'].dt.to_period("Q")
# # active_df['Quarter'] = active_df['Quarter'].apply(lambda q: f"{q.strftime('Q%q')}'{str(q.year)[2:]}")

In [248]:
# Quarter calculation
# Calculating the average headcount for the Quater
# (Add Week Number in groupby for weekly turnover)

active_qt_df=active_df.groupby(['QUARTER','JOB_FAMILY_GROUP','LOCATION'])\
    .agg(Avg_emp=('ACTIVE_EMPLOYEES','mean')).reset_index()

# Rounding the weekly
active_qt_df['Avg_emp']=round(active_qt_df['Avg_emp'],2)

#### Term Calculation

In [249]:
turnover_terms= db_snowflake.execute("""

SELECT * FROM PEOPLEOPS_SANDBOX.SITERISK.TERMEMPLOYEE

""")

In [250]:
# Count number of terms each day
term_df= turnover_terms.groupby(['TERMINATIONDATE','JOB_FAMILY_GROUP','LOCATION','QUARTER'])\
    .agg(Terminations=('EMPLOYEE_ID','count')).reset_index()

# # Renaming Termination Date
# term_df=term_df.rename(columns={'TERMINATIONDATE':'Date'})

# # Adding Weeknumber based on Termination Date
# term_df['WeekNumber']=term_df['Date'].dt.isocalendar().week # Add this for weekly turnover

# # Adding Quarter based on Date column
# term_df['Quarter'] = term_df['Date'].dt.to_period("Q")
# term_df['Quarter'] = term_df['Quarter'].apply(lambda q: f"{q.strftime('Q%q')}'{str(q.year)[2:]}")

In [251]:
# Quarter calculation
# Calculating the terms for the quarter

term_qt_df=term_df.groupby(['QUARTER','JOB_FAMILY_GROUP','LOCATION'])\
    .agg(Terminations=('Terminations','sum')).reset_index()

#### Turnover

In [252]:
# # Combining Active and Terms 
# turnover_df=pd.merge(active_df,term_df,on=['Date','Quarter','Location','JobFamilyGroup'],how='left')

# # Fill NA
# turnover_df=turnover_df.fillna(0)

#### Quaterly Turnover

In [253]:
# Combining Active and Terms 
turnover_qt_df=pd.merge(active_qt_df,term_qt_df,on=['QUARTER','LOCATION','JOB_FAMILY_GROUP'],how='left')

# Fill NA
turnover_qt_df=turnover_qt_df.fillna(0)

In [254]:
turnover_qt_df= turnover_qt_df.groupby(['QUARTER','JOB_FAMILY_GROUP','LOCATION']).\
                            agg(Avg_emp=('Avg_emp','mean'),\
                                Terminations=('Terminations','sum')).reset_index()

# Calculating the turnover rate 
turnover_qt_df['Quaterly_Turnover']=round((turnover_qt_df['Terminations']/turnover_qt_df['Avg_emp'])*100,2)

In [255]:
turnover_qt_df=turnover_qt_df.rename(columns={'QUARTER':'Quarter','JOB_FAMILY_GROUP':'JobFamilyGroup','LOCATION':'Location'})

## Change

In [256]:
import re
# Function to parse quarter and year
def parse_quarter(quarter_str):
    match = re.match(r"Q([1-4])'(\d{2})", quarter_str)
    if match:
        return int(match.group(2)) * 4 + int(match.group(1))
    else:
        return None

In [257]:
# Add a new column for sorting
turnover_qt_df['sort_key'] = turnover_qt_df['Quarter'].apply(parse_quarter)


# Ensure the DataFrame is sorted by location, jobfamily, and sort_key
turnover_qt_df = turnover_qt_df.sort_values(by=['Location', 'JobFamilyGroup', 'sort_key'])


# Calculate the change in turnover for consecutive quarters
turnover_qt_df['Turnover_change'] = turnover_qt_df.groupby(['Location', 'JobFamilyGroup'])['Quaterly_Turnover'].diff()


# Drop the temporary sort_key column
turnover_qt_df = turnover_qt_df.drop(columns=['sort_key'])

In [258]:
turnover_qt_df['Turnover_change']=turnover_qt_df['Turnover_change'].fillna(0).round(2)

In [259]:
turnover_qt_df['JobFamilyGroup'].unique()

array(['Logistics', 'Market Operations', 'Post Production',
       'Reconditioning', 'Registration', 'ADESA', 'Wholesale Operations'],
      dtype=object)

## Merge - Main DF

In [260]:
main_df=pd.merge(main_df,turnover_qt_df,on=['Quarter','JobFamilyGroup','Location'],how='outer')


# Earlier left join but now want to capture all the active employees even if they dont have turnover data for the quarter so changing to outer join
# main_df=pd.merge(main_df,turnover_qt_df,on=['Quarter','JobFamilyGroup','Location'],how='left')

# Removing avg_emp col
# main_df.drop('Avg_emp', axis=1, inplace=True)

In [261]:
# main_df=main_df.drop(columns=['Terminations','Quaterly_Turnover','Turnover_change'])

# Navex - Siterisk 2.0

In [262]:
## SITE RISK 2.0
navex_files

["X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q1'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q2'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q3'25.csv",
 "X:\\People_Operations\\Secured\\Talent Analytics\\Anish Middela\\SiteRisk\\Navex\\navex_Q4'25.csv"]

In [263]:
valid_locations = main_df[main_df['Score'] > 0][['Location', 'JobFamilyGroup']].drop_duplicates().to_dict('records')
# valid_locations = main_df[['Location', 'JobFamilyGroup']].drop_duplicates().to_dict('records')


print(valid_locations[:5]) # Print the first 5 to check the structure

[{'Location': 'AL Birmingham - Sollie Recon Center', 'JobFamilyGroup': 'ADESA'}, {'Location': 'AR Little Rock - McNeill', 'JobFamilyGroup': 'ADESA'}, {'Location': 'AZ Phoenix - Beck IC', 'JobFamilyGroup': 'ADESA'}, {'Location': 'AZ Remote', 'JobFamilyGroup': 'ADESA'}, {'Location': 'CA Remote', 'JobFamilyGroup': 'ADESA'}]

In [264]:
navex_df_main= pd.DataFrame()

# Appending all the csv files into one DataFrame
for file in navex_files:
    df_temp_navex = pd.read_csv(file)


    # Strip leading and trailing spaces from column names
    df_temp_navex.columns = df_temp_navex.columns.str.strip()


    # Add Quarter information
    df_temp_navex['Quarter'] = file.split('_')[-1].split('.')[0]


    # Concatenate to main DataFrame
    navex_df_main = pd.concat([navex_df_main, df_temp_navex], ignore_index=True)

In [265]:
navex_df_main= navex_df_main.drop(columns=['LATITUTDE','LONGITUDE'])
navex_df_main=navex_df_main.drop_duplicates()
navex_df_main=navex_df_main.rename(columns={'BRANCH_NUMBER':'JobFamilyGroup'})

In [266]:
navex_df_main['JobFamilyGroup'].unique()

array(['Logistics', 'Reconditioning', 'ADESA', 'Unknown',
       'Market Operations', nan, 'Titles', 'Regulatory Operations',
       'Wholesale', 'Cosmetic', 'Engineering', 'Sell to Carvana',
       'Post Production', 'Verification', 'Customer Experience',
       'Finance Operations', 'Safe and Secure',
       'Accounting and Capital Markets', 'ADESA Customer Care',
       'ADESA Auction', 'Adesa Inspection', 'Auction Operations',
       'Detail', 'Inspection Center Development', 'Lot Operations',
       'Photobooth', 'Safe & Secure', 'STC Customer Care',
       'Strategy and Analytics', 'Technology Services', 'Transportation',
       'Other', 'People Operations', 'ADESA Customer Relations Sales',
       'ADESA Safe & Secure', 'Wholesale Operations', 'Corporate',
       'Build', 'Talent Acquisition', 'Title & Registration', 'Inventory',
       'Registration', 'Adesa Auction'], dtype=object)

In [267]:
navex_df_main['JobFamilyGroup'] = np.where(navex_df_main['JobFamilyGroup'].str.contains('Regulatory'), 'Registration', navex_df_main['JobFamilyGroup'])

In [268]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process


def map_location(row, valid_locations, min_score=80):
    """
    Maps a given location name to the best matching valid location
    within the same job family group, prioritizing specific conditions.

    Args:
        row (pd.Series): A row from the DataFrame containing 'LOCATION_NAME' and 'JOBFAMILYGROUP'.
        valid_locations (list): A list of dictionaries with 'Location' and 'JobFamilyGroup'.
        min_score (int): Minimum fuzzy match score (0-100) to consider a match.

    Returns:
        str: The best matching valid location, or None if no good match is found.
    """
    location_name = row['LOCATION_NAME']
    job_family = row['JobFamilyGroup']

    if pd.isna(location_name):
        return None

    location_name_upper = location_name.upper()

    if location_name == 'Remote':
        return 'Remote'
    elif location_name == 'Other':
        return 'Other'
    elif 'VM' in location_name_upper or 'ADESA' in location_name_upper or 'VLC' in location_name_upper:
        return location_name
    else:
        # Filter valid locations by job family group
        relevant_locations = [
            loc['Location'] for loc in valid_locations if loc['JobFamilyGroup'] == job_family
        ]
        if not relevant_locations:
            return None  # No valid locations for this job family

        best_match, score = process.extractOne(location_name, relevant_locations, scorer=fuzz.token_set_ratio)
        if score >= min_score:
            return best_match
        return None

# Assuming your DataFrame 'df' has columns 'LOCATION_NAME' and 'JOBFAMILYGROUP'
navex_df_main['Mapped_Location'] = navex_df_main.apply(map_location, axis=1, valid_locations=valid_locations)

In [269]:
navex_df_main[['LOCATION_NAME', 'JobFamilyGroup', 'Mapped_Location']]

                 LOCATION_NAME   JobFamilyGroup      Mapped_Location
0            FL Haines City IC        Logistics    FL Haines City IC
2                NJ Delanco IC        Logistics        NJ Delanco IC
4          OK Oklahoma City IC   Reconditioning  OK Oklahoma City IC
7               AZ Tolleson IC   Reconditioning       AZ Tolleson IC
8             TX Blue Mound IC   Reconditioning     TX Blue Mound IC
...                        ...              ...                  ...
2721         TX San Antonio IC   Reconditioning    TX San Antonio IC
2722  TX Houston - Sam Houston  Safe and Secure                 None
2723   NV Las Vegas - Gowan IC  Safe and Secure                 None
2724              FL Tampa Bay     Registration                 None
2725                       NaN     Registration                 None

[1787 rows x 3 columns]

In [270]:
navex_df_main['Mapped_Location']= np.where(navex_df_main['Mapped_Location'].isna(),navex_df_main['LOCATION_NAME'],navex_df_main['Mapped_Location'])

In [271]:
navex_df_main.head()

,ASSIGNED_TIER,JobFamilyGroup,LOCATION_NAME,CASE_NUMBER,PRIMARY_ISSUE,CASE_TYPE,CASE_STATUS,DATE_OPENED,DAYS_OPEN,DATE_CLOSED,CASE_OUTCOME,ACTION_TAKEN,Quarter,MONTH_OPENED,Case Type,Mapped_Location
0,"Carvana Logistics, LLC",Logistics,FL Haines City IC,4647.0,Abuse of Authority/Inappropriate Supervisory D...,NaN,In Process,02/20/2025,41.0,04/02/2025,Substantiated,Training/Coaching,Q1'25,NaN,NaN,FL Haines City IC
2,"Carvana, LLC",Logistics,NJ Delanco IC,4813.0,Violation of Carvana Leadership Values (Intern...,Allegation,In Process,03/22/2025,11.0,04/02/2025,Referred,No Action Taken,Q1'25,NaN,NaN,NJ Delanco IC
4,"Carvana, LLC",Reconditioning,OK Oklahoma City IC,4835.0,Discrimination/ Harassment based on membership...,Allegation,Closed,03/27/2025,5.0,04/01/2025,Unsubstantiated,Training/Coaching,Q1'25,NaN,NaN,OK Oklahoma City IC
7,"Carvana, LLC",Reconditioning,AZ Tolleson IC,4852.0,Abuse of Authority/Inappropriate Supervisory D...,Allegation,Closed,03/31/2025,1.0,04/01/2025,Referred,No Action Taken,Q1'25,NaN,NaN,AZ Tolleson IC
8,"Carvana, LLC",Reconditioning,TX Blue Mound IC,4855.0,Abuse of Authority/Inappropriate Supervisory D...,Allegation,Closed,03/31/2025,1.0,04/01/2025,Disproved,Policy/ Process Review,Q1'25,NaN,NaN,TX Blue Mound IC

In [272]:
navex_df_main.value_counts('Quarter')

Quarter
Q3'25    492
Q4'25    452
Q1'25    449
Q2'25    394
Name: count, dtype: int64

In [273]:
navex_df_main.columns

Index(['ASSIGNED_TIER', 'JobFamilyGroup', 'LOCATION_NAME', 'CASE_NUMBER',
       'PRIMARY_ISSUE', 'CASE_TYPE', 'CASE_STATUS', 'DATE_OPENED', 'DAYS_OPEN',
       'DATE_CLOSED', 'CASE_OUTCOME', 'ACTION_TAKEN', 'Quarter',
       'MONTH_OPENED', 'Case Type', 'Mapped_Location'],
      dtype='object')

In [274]:
navex_df_main=navex_df_main.rename(columns={'LOCATION_NAME':'Old_Location','Mapped_Location':'Location'})

navex_df_main['JobFamilyGroup'].unique()

array(['Logistics', 'Reconditioning', 'ADESA', 'Unknown',
       'Market Operations', 'Registration', 'Titles', 'Wholesale',
       'Cosmetic', 'Engineering', 'Sell to Carvana', 'Post Production',
       'Verification', 'Customer Experience', 'Finance Operations',
       'Safe and Secure', 'Accounting and Capital Markets',
       'ADESA Customer Care', 'ADESA Auction', 'Adesa Inspection',
       'Auction Operations', 'Detail', 'Inspection Center Development',
       'Lot Operations', 'Photobooth', 'Safe & Secure',
       'STC Customer Care', 'Strategy and Analytics',
       'Technology Services', 'Transportation', 'Other',
       'People Operations', 'ADESA Customer Relations Sales',
       'ADESA Safe & Secure', 'Wholesale Operations', 'Corporate',
       'Build', 'Talent Acquisition', 'Title & Registration', 'Inventory',
       'Adesa Auction'], dtype=object)

In [275]:
# navex_df_main= navex_df_main.drop(columns=['QUARTER'])

## Snowflake

In [276]:
# Snowflake Dump
navex_df_snowflake= navex_df_main.copy()
db_snowflake_write.drop_table('Navex')
db_snowflake_write.dump('Navex',navex_df_snowflake)

Uploading data chunk num: 1: 100%|| 1787/1787 [00:00<00:00, 2757.81it/s]

True

## Navex Df

In [277]:
navex_df= navex_df_main.copy()
navex_df= navex_df[navex_df['JobFamilyGroup'].isin(necessary_JobFamilyGroups)]

In [278]:
navex_df= navex_df.groupby(['Location','JobFamilyGroup','Quarter'])\
    .agg(Navex_Incidents=('CASE_NUMBER','nunique')).reset_index()
    # .agg(Navex_Incidents=('CASE_STATUS','count')).reset_index()

In [279]:
navex_df.value_counts('Quarter')

Quarter
Q3'25    163
Q1'25    156
Q4'25    142
Q2'25    138
Name: count, dtype: int64

In [280]:
navex_df['Navex_Incidents'].sum()

1515

In [281]:
navex_df.head()

                Location     JobFamilyGroup Quarter  Navex_Incidents
0  ADESA - Atlanta - VLC     Reconditioning   Q3'25                1
1   ADESA - Boston - VLC     Reconditioning   Q3'25                1
2   ADESA - Dallas - VLC          Logistics   Q4'25                1
3   ADESA - Dallas - VLC  Market Operations   Q3'25                1
4   ADESA - Dallas - VLC     Reconditioning   Q3'25                1

In [282]:
navex_df['JobFamilyGroup'].unique()

array(['Reconditioning', 'Logistics', 'Market Operations', 'ADESA',
       'Wholesale Operations', 'Registration', 'Post Production'],
      dtype=object)

## Main df

In [283]:
main_df=pd.merge(main_df,navex_df,on=['Location','JobFamilyGroup','Quarter'],how='left')
# main_df['Navex_Incidents']=main_df['Navex_Incidents'].fillna(0)

# Total Employees- Location/JobProfile

*** ADD QUARTER DATA IN 'CASE' STATEMENT

In [284]:
totalemp_Loc_Jbp_df = db_snowflake.execute("""
                                          
SELECT
    CASE
    WHEN JOB_FAMILY_GROUP like '%ADESA%' THEN 'ADESA'
    WHEN JOB_FAMILY_GROUP like '%Regulatory%' THEN 'Registration'
                                           
    ELSE JOB_FAMILY_GROUP
    END as JOB_FAMILY_GROUP,
    CASE
        WHEN DATE_QUARTER = '2024-01-01' THEN 'Q1''24'
        WHEN DATE_QUARTER = '2024-04-01' THEN 'Q2''24'
        WHEN DATE_QUARTER = '2024-07-01' THEN 'Q3''24'
        WHEN DATE_QUARTER = '2024-10-01' THEN 'Q4''24'
        WHEN DATE_QUARTER = '2025-01-01' THEN 'Q1''25'                                                                           
        WHEN DATE_QUARTER = '2025-04-01' THEN 'Q2''25'
        WHEN DATE_QUARTER = '2025-07-01' THEN 'Q3''25'
        WHEN DATE_QUARTER = '2025-10-01' THEN 'Q4''25'                                                                   
    END AS Quarter,
    LOCATION,
    COUNT(*) as Total_employees
FROM 
    PEOPLEOPS.ANALYTICS.VW_WORKDAY_EMPLOYEE_LINEAGE
WHERE 
    DATA_TYPE = 'ACTIVE'
    AND EMPLOYEE_TYPE='Regular'
    --AND DATE_QUARTER IN ('2024-01-01','2024-04-01','2024-07-01','2024-10-01','2025-01-01')
    AND DATEDIFF(DAY,DATE_QUARTER,DATE_DAY)=89
    AND DATE_DAY>='2024-01-01'
GROUP BY DATE_DAY,LOCATION,DATE_QUARTER,
CASE
    WHEN JOB_FAMILY_GROUP like '%ADESA%' THEN 'ADESA'
    WHEN JOB_FAMILY_GROUP like '%Regulatory%' THEN 'Registration'
    ELSE JOB_FAMILY_GROUP END
ORDER BY DATE_DAY,JOB_FAMILY_GROUP,LOCATION,Total_employees;

""")

In [285]:
totalemp_Loc_Jbp_df=totalemp_Loc_Jbp_df.drop_duplicates()

In [286]:
totalemp_Loc_Jbp_df=totalemp_Loc_Jbp_df[totalemp_Loc_Jbp_df['JOB_FAMILY_GROUP'].isin(necessary_JobFamilyGroups) & totalemp_Loc_Jbp_df['QUARTER'].notna()]

totalemp_Loc_Jbp_df=totalemp_Loc_Jbp_df.rename(columns={'LOCATION':'Location','JOB_FAMILY_GROUP':'JobFamilyGroup','QUARTER':'Quarter','TOTAL_EMPLOYEES':'Total_Employees'})

In [287]:
totalemp_Loc_Jbp_df.groupby('Quarter').size()

Quarter
Q1'24    399
Q1'25    419
Q2'24    412
Q2'25    428
Q3'24    420
Q3'25    439
Q4'24    401
Q4'25    439
dtype: int64

In [288]:
totalemp_Loc_Jbp_df['JobFamilyGroup'].unique()

array(['ADESA', 'Logistics', 'Market Operations', 'Post Production',
       'Reconditioning', 'Registration', 'Wholesale Operations'],
      dtype=object)

In [289]:
# total_emp_ADESA= db_snowflake.execute("""

# SELECT 'ADESA' as JOB_FAMILY_GROUP,LOCATION,
#     CASE
#         WHEN DATE_QUARTER = '2024-01-01' THEN 'Q1''24'
#         WHEN DATE_QUARTER = '2024-04-01' THEN 'Q2''24'
#         WHEN DATE_QUARTER = '2024-07-01' THEN 'Q3''24'
#         ELSE 'Unknown'
#     END AS Quarter
#     ,Count(*) as Total_Employees
# FROM PEOPLEOPS_SANDBOX.DEV.WORKDAY_EMPLOYEE_LINEAGE
# WHERE DATA_TYPE='ACTIVE'
# AND 
# AND DATEDIFF(DAY,DATE_QUARTER,DATE_DAY)=90
# AND DATE_DAY>='2024-01-01'
# AND JOB_PROFILE Like '%ADESA%'
# GROUP BY LOCATION,DATE_QUARTER
# ORDER BY Total_Employees desc,
# LOCATION;

# """)

In [290]:
# totalemp_Loc_Jbp_df=pd.concat([totalemp_Loc_Jbp_df,total_emp_ADESA])

## Active Qt Avg Emp

In [291]:
# active_qt_df=active_qt_df.rename(columns={'LOCATION':'Location','JOB_FAMILY_GROUP':'JobFamilyGroup','QUARTER':'Quarter','Avg_emp':'Average_Headcount'})

## Merge- Main df

In [292]:
main_df= pd.merge(main_df,totalemp_Loc_Jbp_df,on=['Location','JobFamilyGroup','Quarter'],how='left')

In [293]:
main_df['Location']=main_df['Location'].astype(str)

In [294]:
# main_df=main_df.drop(columns=['DATE'])

In [295]:
# main_df=pd.merge(main_df,active_qt_df,on=['Location','JobFamilyGroup','Quarter'],how='left')

In [296]:
main_df['PIPs & CARs'].sum()

46081.0

# Leadership

In [297]:
leadership = db_snowflake.execute(""" 
with cte as (
SELECT DATE_WEEK,LOCATION,JOB_FAMILY_GROUP
,SUM(TOTAL_LEADERS) as TOTAL_LEADERS
,SUM(NEW_LEADERS) as NEW_LEADERS
,SUM(LEADER_HIRED) as LEADER_HIRED
,SUM(TERMINATIONS) as LEADER_TERMINATIONS
,SUM(OPENINGS) as OPENINGS
FROM PEOPLEOPS_SANDBOX.SITERISK.LEADERSHIP
-- WHERE LOCATION='MA Boston - Western'
-- AND JOB_FAMILY_GROUP ='Reconditioning'
GROUP BY ALL
)
,
final as (
SELECT
DATE_TRUNC('quarter',DATE_WEEK) as DATE_QUARTER
,    CASE
        WHEN DATE_QUARTER = '2025-01-01' THEN 'Q1''25'                                                                           
        WHEN DATE_QUARTER = '2025-04-01' THEN 'Q2''25'
        WHEN DATE_QUARTER = '2025-07-01' THEN 'Q3''25'
        WHEN DATE_QUARTER = '2025-10-01' THEN 'Q4''25'                                                                          
    END AS Quarter
,LOCATION
,JOB_FAMILY_GROUP
,COALESCE(ROUND(AVG(TOTAL_LEADERS),0),0) as AVG_TOTAL_LEADERS
,COALESCE(ROUND(AVG(NEW_LEADERS),0),0) as AVG_NEW_LEADERS
,COALESCE(ROUND(AVG(OPENINGS),0),0) as AVG_OPENINGS
, ROUND(DIV0(AVG_NEW_LEADERS,AVG_TOTAL_LEADERS)*100,1) as PERCENTAGE_NEW_LEADER
, ROUND(DIV0(AVG_TOTAL_LEADERS,(AVG_TOTAL_LEADERS + AVG_OPENINGS))*100,1) as PERCENTAGE_STAFFED

-- ,SUM(LEADER_HIRED) as LEADER_HIRED
-- ,SUM(LEADER_TERMINATIONS) as LEADER_TERMED
FROM cte
WHERE QUARTER IS NOT NULL
GROUP BY ALL
)
SELECT * FROM FINAL;
                                   """)

In [298]:
leadership.head()

,DATE_QUARTER,QUARTER,LOCATION,JOB_FAMILY_GROUP,AVG_TOTAL_LEADERS,AVG_NEW_LEADERS,AVG_OPENINGS,PERCENTAGE_NEW_LEADER,PERCENTAGE_STAFFED
0,2025-04-01,Q2'25,TX Remote,Logistics,0,0,0,0.0,0.0
1,2025-07-01,Q3'25,NC Charlotte - Fruehauf,Reconditioning,0,0,1,0.0,0.0
2,2025-10-01,Q4'25,NV Las Vegas VM,Reconditioning,0,0,1,0.0,0.0
3,2025-07-01,Q3'25,GA Atlanta - Chamblee,Logistics,1,0,0,0.0,100.0
4,2025-07-01,Q3'25,OK Tulsa,Market Operations,1,0,0,0.0,100.0

In [299]:
leadership.rename(columns={'LOCATION':'Location','JOB_FAMILY_GROUP':'JobFamilyGroup','QUARTER':'Quarter'},inplace=True)

In [300]:
leadership.columns

Index(['DATE_QUARTER', 'Quarter', 'Location', 'JobFamilyGroup',
       'AVG_TOTAL_LEADERS', 'AVG_NEW_LEADERS', 'AVG_OPENINGS',
       'PERCENTAGE_NEW_LEADER', 'PERCENTAGE_STAFFED'],
      dtype='object')

In [301]:
main_df=pd.merge(main_df,leadership[['Location','JobFamilyGroup','Quarter','AVG_TOTAL_LEADERS', 'AVG_NEW_LEADERS', 'AVG_OPENINGS','PERCENTAGE_NEW_LEADER', 'PERCENTAGE_STAFFED']]\
                 ,on=['Location','JobFamilyGroup','Quarter'],how='left')

In [302]:
# main_df.rename(columns={'AVG_LEADERS':'Avg_Leaders', 'LEADER_HIRED':'Leader_Hired', 'LEADER_TERMED':'Leader_Termed'}, inplace=True)

# Overtime

In [303]:
# overtime_snow = db_snowflake.execute("""
#     SELECT 
#         LOCATIONNAME as LOCATION
#         ,DATE_TRUNC('quarter',DATE) AS DATE_QUARTER
#         ,CASE
#         WHEN DATE_QUARTER = '2025-01-01' THEN 'Q1''25'                                                                           
#         WHEN DATE_QUARTER = '2025-04-01' THEN 'Q2''25'
#         WHEN DATE_QUARTER = '2025-07-01' THEN 'Q3''25'
#         WHEN DATE_QUARTER = '2025-10-01' THEN 'Q4''25'                                                                          
#         END AS Quarter
#         ,'Reconditioning' AS JOB_FAMILY_GROUP
#         ,ROUND(SUM(OVERTIMEHOURS),0) as TOTAL_OVERTIME
#     FROM PEOPLEOPS_SANDBOX.DEV.IC_OVERTIME_AVG_HOURS
#     WHERE DATE>='2025-01-01'
#     GROUP BY LOCATIONNAME,DATE_TRUNC('quarter',DATE);
#                                      """)

### UPDATE TO SNOWFLAKE VERSION TABLE [INVENTORY.PUBLIC.EXPECTED_VS_PAID_HOURS]

In [304]:
overtimequery = """Select LocationName as LOCATION,
DATETRUNC(QUARTER,Date) as DATE_QUARTER,
CASE 
 WHEN JobFamilyGroup like '%RECON%' Then 'Reconditioning'
 WHEN JobFamilyGroup like '%POST%' Then 'Post Production'
 ELSE NULL
 END
 AS JOB_FAMILY_GROUP
,CASE
         WHEN DATETRUNC(QUARTER,Date) = '2025-01-01' THEN 'Q1''25'                                                                           
         WHEN DATETRUNC(QUARTER,Date) = '2025-04-01' THEN 'Q2''25'
         WHEN DATETRUNC(QUARTER,Date) = '2025-07-01' THEN 'Q3''25'
         WHEN DATETRUNC(QUARTER,Date) = '2025-10-01' THEN 'Q4''25'                                                                          
         END AS QUARTER
,ROUND(SUM(OvertimeHours),0) as TOTAL_OVERTIME 
from opsgroup.ic.ExpectedvsPaidHours
WHERE JobFamilyGroup in ('RECONDITIONING','POST_PRODUCTION')
AND Date >='2025-01-01'
GROUP BY LocationName,DATETRUNC(QUARTER,Date),JobFamilyGroup"""


overtime_sql = pd.read_sql_query(overtimequery, odbcconnops)

C:\Users\E102068\AppData\Local\Temp\ipykernel_16040\2992662510.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  overtime_sql = pd.read_sql_query(overtimequery, odbcconnops)

In [305]:
overtime_sql.head()

               LOCATION DATE_QUARTER JOB_FAMILY_GROUP QUARTER  TOTAL_OVERTIME
0        MO Kansas City   2025-01-01   Reconditioning   Q1'25          6620.0
1    VA Chesterfield IC   2025-07-01  Post Production   Q3'25          3812.0
2    VA Chesterfield IC   2025-04-01  Post Production   Q2'25          3298.0
3  NJ Newark - Manville   2025-10-01   Reconditioning   Q4'25         17909.0
4  NJ Newark - Manville   2026-01-01  Post Production    None          1111.0

In [306]:
overtime_snow = overtime_sql.copy()

In [307]:
overtime_snow.rename(columns={'LOCATION':'Location','JOB_FAMILY_GROUP':'JobFamilyGroup','QUARTER':'Quarter','TOTAL_OVERTIME':'Total_Overtime_hours_Quarter'},inplace=True)

In [308]:
main_df=pd.merge(main_df,overtime_snow[['Location','JobFamilyGroup','Quarter','Total_Overtime_hours_Quarter']],on=['Location','JobFamilyGroup','Quarter'],how='left')

# Snowflake - Main DF

In [309]:
# # Create Table
# db_snowflake_write.create_table('metrics',
#                   {
#                      'Location': ['VARCHAR(1000)'],
#                      'Score': ['INT'],
#                      'eSat Change': ['INT'], 
#                      'JobFamilyGroup': ['VARCHAR(1000)'],
#                      'Quarter': ['VARCHAR(1000)'], 
#                      'Injuries': ['INT'],
#                      'EmployeesPIPs_CARs': ['INT'],
#                      'CARs': ['INT'],
#                      'PIPs': ['INT'],
#                      'PIPs & CARs': ['INT'],
#                      'Terminations': ['INT'],
#                      'Quaterly_Turnover': ['INT'],
#                      'Turnover_Change':['INT'],
#                      'Total_Employees': ['INT'],
#                   })

In [310]:
# main_df[main_df['Quarter']=='Q3\'25'][['Location','JobFamilyGroup','Score','Employee_Size_Peakon','Avg_emp']]

In [311]:
db_snowflake_write.drop_table('metrics')
db_snowflake_write.dump('metrics',main_df)

Uploading data chunk num: 1: 100%|| 3589/3589 [00:00<00:00, 4117.44it/s]

True

In [312]:
# Inserting the main df
# db_snowflake_write.insert('metrics',main_df,truncate=True)

In [313]:
# db_snowflake_write.drop_table('main_df')